<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.views">
      <view
            category="org.amanzi.awe.views"
            class="org.amanzi.awe.views.statistcstree.view.StatisticsTreeView"
            icon="icons/statistics_view.png"
            id="org.amanzi.awe.views.statistcstree.StatisticsTreeView"
            name="Statistics Tree">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.amanzi.awe.perspective">
         <view
               closeable="true"
               id="org.amanzi.awe.views.statistcstree.StatisticsTreeView"
               relationship="stack"
               relative="net.refractions.udig.project.ui.layerManager"
               showTitle="true"
               visible="true">
         </view>
         <viewShortcut
               id="org.amanzi.awe.views.statistcstree.StatisticsTreeView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.amanzi.awe.ui.listeners">
      <listener
            class="org.amanzi.awe.views.statistcstree.listeners.ShowInStatisticsTreeListener">
         <eventStatus
               status="SHOW_IN_VIEW">
         </eventStatus>
      </listener>
   </extension>
</plugin>
