<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Database Project Explorer"
            icon="icons/project.png"
            category="org.amanzi.awe.views"
            class="org.amanzi.awe.views.explorer.view.ProjectExplorerView"
            id="org.amanzi.awe.views.explorer.view.ProjectExplorerView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.amanzi.awe.perspective">
         <view
               id="org.amanzi.awe.views.explorer.view.ProjectExplorerView"
               minimized="false"
               ratio="0.35"
               relationship="top"
               relative="net.refractions.udig.project.ui.layerManager"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   
   
</plugin>
