<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               id="org.amanzi.awe.drilldown.menu"
               label="Show in ...">
            <command
                  commandId="org.amanzi.awe.render.showonmap"
                  label="Show on Map"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                     <iterate>
                     	<instanceof
                        	   value="org.amanzi.neo.models.render.IRenderableModel">
                     	</instanceof>
                     </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.amanzi.awe.render.showonmap"
            name="Show on Map">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.amanzi.awe.render.core.handlers.RenderHandler"
            commandId="org.amanzi.awe.render.showonmap">
         <activeWhen>
            <with
                  variable="activeMenuSelection">
               <test
                    forcePluginActivation="true"
                    property="org.amanzi.awe.render.core.isRenderable">
               </test>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.amanzi.awe.render.core.testers.RenderingTester"
            id="org.amanzi.awe.render.core.modeltester"
            namespace="org.amanzi.awe.render.core"
            properties="isRenderable"
            type="org.eclipse.jface.viewers.IStructuredSelection">
      </propertyTester>
   </extension>

</plugin>
