<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Distribution"
            icon="icons/distribution.png"
            category="org.amanzi.awe.script"
            class="org.amanzi.awe.views.reuse.views.ReuseAnalyserView"
            id="org.amanzi.awe.views.reuse.views.ReuseAnalyserView">
      </view>
      <view
            name="Distribution Analyzer"
            icon="icons/distribution.png"
            category="org.amanzi.awe.script"
            class="org.amanzi.awe.views.reuse.views.DistributionAnalyzerView"
            id="org.amanzi.awe.views.reuse.views.DistributionAnalyzerView">
      </view>
      <view
            name="Property Table"
            icon="icons/properties.gif"
            category="org.amanzi.awe.script"
            class="org.amanzi.awe.views.reuse.mess_table.view.MessageAndEventTableView"
            id="org.amanzi.awe.views.reuse.views.MessageAndEventTableView">
      </view>
      <view
            category="org.amanzi.awe.script"
            class="org.amanzi.awe.views.reuse.views.FrequencyPlanAnalyser"
            icon="icons/distribution.png"
            id="org.amanzi.awe.views.reuse.views.FrequencyPlanAnalyser"
            name="Frequency Distribution">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.amanzi.awe.perspective">
         <view
               id="org.amanzi.awe.views.reuse.views.DistributionAnalyzerView"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               visible="true">
         </view>
         <viewShortcut
               id="org.amanzi.awe.views.reuse.views.DistributionAnalyzerView">
         </viewShortcut>
         <view
               id="org.amanzi.awe.views.reuse.views.ReuseAnalyserView"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               visible="true">
         </view>
         <viewShortcut
               id="org.amanzi.awe.views.reuse.views.ReuseAnalyserView">
         </viewShortcut>
         <view
               id="org.amanzi.awe.views.reuse.views.MessageAndEventTableView"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               visible="true">
         </view>
         <viewShortcut
               id="org.amanzi.awe.views.reuse.views.MessageAndEventTableView">
         </viewShortcut>
         <view
               id="org.amanzi.awe.views.reuse.views.FrequencyPlanAnalyser"
               minimized="false"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               visible="true">
         </view>
         <viewShortcut
               id="org.amanzi.awe.views.reuse.views.FrequencyPlanAnalyser">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.amanzi.afp.perspective">
         <view
               id="org.amanzi.awe.views.reuse.views.ReuseAnalyserView"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               visible="true">
         </view>
         <viewShortcut
               id="org.amanzi.awe.views.reuse.views.ReuseAnalyserView">
         </viewShortcut>
         <view
               id="org.amanzi.awe.views.reuse.views.MessageAndEventTableView"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               visible="true">
         </view>
         <viewShortcut
               id="org.amanzi.awe.views.reuse.views.MessageAndEventTableView">
         </viewShortcut>
         <view
               id="org.amanzi.awe.views.reuse.views.FrequencyPlanAnalyser"
               minimized="false"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               visible="true">
         </view>
         <viewShortcut
               id="org.amanzi.awe.views.reuse.views.FrequencyPlanAnalyser">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.amanzi.awe.views.reuse.DistributionPreferences"
            id="org.amanzi.awe.views.reuse.DistributionPreferences"
            name="Distribution">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.amanzi.awe.views.reuse.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
