<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Distribution Analyzer"
            icon="icons/distribution.png"
            category="org.amanzi.awe.views"
            class="org.amanzi.awe.views.reuse.views.DistributionAnalyzerView"
            id="org.amanzi.awe.views.reuse.views.DistributionAnalyzerView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.amanzi.awe.perspective">
         <view
               id="org.amanzi.awe.views.reuse.views.DistributionAnalyzerView"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               visible="true">
         </view>
         <viewShortcut
               id="org.amanzi.awe.views.reuse.views.DistributionAnalyzerView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   
</plugin>
