<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.amanzi.nodetypes">
      <nodetype
            class="org.amanzi.neo.models.impl.project.ProjectModelNodeType">
      </nodetype>
      <nodetype
            class="org.amanzi.neo.models.impl.statistics.PropertyStatisticsNodeType">
      </nodetype>
   </extension>

</plugin>
