<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="org.amanzi.awe.startup.splash.splashHandlers.InteractiveSplashHandler"
            id="org.amanzi.awe.startup.splash.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            splashId="org.amanzi.awe.startup.splash.splashHandlers.interactive"
            productId="org.amanzi.awe.product">
      </splashHandlerProductBinding>
   </extension>

</plugin>
