<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.amanzi.services" name="Service" schema="schema/org.amanzi.services.exsd"/>
   <extension
         point="org.amanzi.services">
      <service
            class="org.amanzi.neo.services.impl.NodeService"
            id="org.amanzi.service.NodeService">
         <parameters>
            <nodePropertiesReference
                  refId="org.amanzi.nodeproperties.generalnodeproperties">
            </nodePropertiesReference>
         </parameters>
      </service>
      <service
      		class="org.amanzi.neo.services.impl.statistics.PropertyStatisticsService"
            id="org.amanzi.service.StatisticsService">
         <parameters>
            <nodePropertiesReference
                  refId="org.amanzi.nodeproperties.generalnodeproperties">
            </nodePropertiesReference>
            <serviceReference
                  refId="org.amanzi.service.NodeService">
            </serviceReference>
            <nodePropertiesReference
                  refId="org.amanzi.nodeproperties.PropertyStatisticsNodeProperties">
            </nodePropertiesReference>
         </parameters>
      </service>
   </extension>
   <extension
         point="org.amanzi.nodetypes">
      <nodetype
      	class="org.amanzi.neo.services.impl.statistics.PropertyStatisticsNodeType">
      </nodetype>
   </extension>
   <extension
         point="org.amanzi.nodeproperties">
      <nodeProperties
            class="org.amanzi.neo.services.impl.statistics.PropertyStatisticsNodeProperties"
            id="org.amanzi.nodeproperties.PropertyStatisticsNodeProperties">
      </nodeProperties>
   </extension>

</plugin>
