<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.amanzi.awe.report.editor.ReportEditor"
            contributorClass="org.amanzi.awe.report.editor.ReportEditorContributor"
            default="true"
            extensions="r"
            icon="icons/report.PNG"
            id="org.amanzi.awe.report.editor.ReportEditor"
            name="Amanzi Report Editor">
      </editor>
   </extension>
   <extension
         point="net.refractions.udig.ui.newObjectAction">
      <action
            class="org.amanzi.awe.report.wizards.NewReportAction"
            icon="icons/report.PNG"
            id="org.amanzi.report.wizards.newReportAction"
            label="New Amanzi Report">
      </action>
   </extension>

</plugin>
