<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="awe" sequenceNumber="4">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.radrails.rails.feature.group" version="3.2.0.201206251640-7e-7Q7f56_5-LETI"/>
<repository location="http://download.aptana.com/studio3/plugin/install"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.feature.group" version="3.7.0.v20110530-9gF7UHNFFt4cwE-pkZDJ7oz-mj4OSEIlu9SEv0f"/>
<unit id="org.eclipse.platform.ide" version="3.7.0.I20110613-1736"/>
<unit id="org.eclipse.platform.sdk" version="3.7.0.I20110613-1736"/>
<repository location="http://download.eclipse.org/releases/indigo/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.help.source.feature.group" version="1.3.0.v20110327-7i7uFFiFFt6ZqnbOrMXLd1"/>
<unit id="org.eclipse.pde.source.feature.group" version="3.7.0.v20110504-0800-7b7qFVpFEx2XnmYtj_9RfO7"/>
<unit id="org.eclipse.gef.source.feature.group" version="3.7.0.v20110425-2050-777D-81B2Bz0685C3A6E34272"/>
<unit id="net.refractions.udig.libs.source-feature.feature.group" version="1.3.0.201201051557"/>
<unit id="net.refractions.udig_application-feature.feature.group" version="1.3.0.201201051557"/>
<unit id="net.refractions.udig_application.source-feature.feature.group" version="1.3.0.201201051557"/>
<unit id="net.refractions.udig_base-feature.feature.group" version="1.3.0.201201051557"/>
<unit id="net.refractions.udig_base.source-feature.feature.group" version="1.3.0.201201051557"/>
<unit id="net.refractions.udig_platform.source-feature.feature.group" version="1.3.0.201201051557"/>
<unit id="net.refractions.udig_platform-feature.feature.group" version="1.3.0.201201051557"/>
<unit id="net.refractions.udig_printing-feature.feature.group" version="1.3.0.201201051557"/>
<unit id="net.refractions.udig_printing.source-feature.feature.group" version="1.3.0.201201051557"/>
<unit id="net.refractions.udig_sdk-feature.feature.group" version="1.3.1.201201051557"/>
<unit id="net.refractions.udig_tutorials.source-feature.feature.group" version="1.3.0.201201051557"/>
<unit id="net.refractions.udig_tutorials-feature.feature.group" version="1.3.0.201201051557"/>
<unit id="org.eclipse.emf.source.feature.group" version="2.7.0.v20110606-0949"/>
<unit id="org.eclipse.emf.codegen.source.feature.group" version="2.7.0.v20110606-0949"/>
<unit id="org.eclipse.emf.codegen.ui.source.feature.group" version="2.7.0.v20110606-0949"/>
<unit id="org.eclipse.emf.common.ui.source.feature.group" version="2.7.0.v20110606-0949"/>
<unit id="org.eclipse.emf.databinding.source.feature.group" version="1.2.0.v20110606-0949"/>
<unit id="org.eclipse.emf.codegen.ecore.source.feature.group" version="2.7.0.v20110606-0949"/>
<unit id="org.eclipse.emf.codegen.ecore.ui.source.feature.group" version="2.7.0.v20110606-0949"/>
<unit id="org.eclipse.emf.ecore.edit.source.feature.group" version="2.7.0.v20110606-0949"/>
<unit id="org.eclipse.emf.mapping.ecore.source.feature.group" version="2.7.0.v20110606-0949"/>
<unit id="org.eclipse.emf.mapping.ecore.editor.source.feature.group" version="2.7.0.v20110606-0949"/>
<unit id="org.eclipse.emf.edit.source.feature.group" version="2.7.0.v20110606-0949"/>
<unit id="org.eclipse.emf.databinding.edit.source.feature.group" version="1.2.0.v20110606-0949"/>
<unit id="org.eclipse.emf.edit.ui.source.feature.group" version="2.7.0.v20110606-0949"/>
<unit id="org.eclipse.emf.mapping.source.feature.group" version="2.7.0.v20110606-0949"/>
<unit id="org.eclipse.emf.mapping.ui.source.feature.group" version="2.7.0.v20110606-0949"/>
<unit id="org.eclipse.emf.converter.source.feature.group" version="2.7.0.v20110606-0949"/>
<unit id="org.eclipse.emf.ecore.editor.source.feature.group" version="2.7.0.v20110606-0949"/>
<unit id="eu.udig.teradata-feature.feature.group" version="1.3.0.201201051557"/>
<unit id="net.refractions.udig-feature.feature.group" version="1.3.0.201201051557"/>
<repository location="ftp://awe:Explore88@ftp.amanzitel.com/udig_sdk_repository"/>
</location>
</locations>
</target>
