<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension
         point="org.eclipse.ui.views">
      <view
            name="Filters"
            icon="icons/filter.gif"
            category="org.amanzi.awe.script"
            class="org.amanzi.awe.filters.views.FilterView"
            id="org.amanzi.awe.filters.views.FilterView">
      </view>
   </extension>
      <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.amanzi.awe.perspective">
         <view
               id="org.amanzi.awe.filters.views.FilterView"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               visible="true">
         </view>
         <viewShortcut
               id="org.amanzi.awe.filters.views.FilterView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
