<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.amanzi.awe.catalog.neo.ServiceExtensions"
         name="Neo4J Service Extensions"
         point="net.refractions.udig.catalog.ServiceExtension">
      <service
            class="org.amanzi.awe.catalog.neo.resource.GeoServiceExtension"
            id="org.amanzi.awe.catalog.neo.service"
            name="Neo4J Catalog Service Extension">
      </service>
   </extension>
   <extension
         point="org.amanzi.awe.ui.listeners">
      <listener
            class="org.amanzi.awe.catalog.neo.listeners.NeoCatalogListener">
         <eventStatus
               status="DATA_UPDATED">
         </eventStatus>
         <eventStatus
               status="SHOW_GIS">
         </eventStatus>
         <eventStatus
               status="AWE_STARTED">
         </eventStatus>
         <eventStatus
               status="PROJECT_CHANGED">
         </eventStatus>
         <eventStatus
               status="SHOW_ELEMENTS">
         </eventStatus>
         <eventStatus
               status="REFRESH_MAP">
         </eventStatus>
         <eventStatus
               status="REMOVE_GIS">
         </eventStatus>
      </listener>
   </extension>
</plugin>
