<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension
         point="org.eclipse.ui.startup">
         <startup class="org.amanzi.awe.catalog.neo.NeoCatalogStartup">
         </startup>
   </extension>
   <extension
         id="org.amanzi.awe.catalog.neo.ServiceExtensions"
         name="Neo4J Service Extensions"
         point="net.refractions.udig.catalog.ServiceExtension">
      <service
            class="org.amanzi.awe.models.catalog.neo.NewGeoServiceExtension"
            id="org.amanzi.awe.catalog.neo.service"
            name="Neo4J Catalog Service Extension">
      </service>
   </extension>
</plugin>
