<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

     <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.amanzi.splash.ui.SplashResourceEditor"
            contributorClass="org.amanzi.splash.ui.SplashEditorContributor"
            extensions="splash"
            icon="icons/splash_16.png"
            id="org.amanzi.splash.editor"
            name="Amanzi Splash Spreadsheet Editor">
      </editor>
      <editor
            class="org.amanzi.splash.editors.SplashJFreeChartEditor"
            extensions="mpe"
            icon="icons/barchart.png"
            id="org.amanzi.splash.editors.SplashJFreeChartEditor"
            name="Amanzi Splash Bar Chart Editor">
      </editor>
      <editor
            class="org.amanzi.splash.editors.SplashJFreePieChartEditor"
            icon="icons/piechart.png"
            id="org.amanzi.splash.editors.SplashJFreePieChartEditor"
            name="Amanzi Splash Pie Chart Editor">
      </editor>
      <editor
            class="org.amanzi.splash.editors.ReportEditor"
            contributorClass="org.amanzi.splash.editors.ReportEditorContributor"
            extensions="rb,r"
            icon="icons/report.PNG"
            id="org.amanzi.splash.editors.ReportEditor"
            name="Amanzi Splash Reportt Editor">
      </editor>
   </extension>
   
   	<extension point= "org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID= "org.eclipse.ui.resourcePerspective">
		<actionSet id="org.eclipse.jdt.ui.JavaActionSet"/>
		<viewShortcut id="org.eclipse.jdt.ui.PackageExplorer"/>
		<newWizardShortcut id="org.amanzi.spreadsheet.jrss.editor.ui.wizards.newminispreadsheetwizard"/>
		<perspectiveShortcut id="org.amanzi.awe.perspective"/>
		<view id= "org.eclipse.jdt.ui.PackageExplorer" relative="org.eclipse.ui.views.ResourceNavigator" relationship="stack"/>
		<view id= "org.eclipse.jdt.ui.TypeHierarchy" relative= "org.eclipse.ui.views.ResourceNavigator" relationship= "left" ratio= "0.50" />
		</perspectiveExtension>
  <perspectiveExtension
        targetID="org.eclipse.ui.resourcePerspective">
     <view
           id="org.amanzi.splash.views.ImportBuilderView"
           ratio="0.5"
           relationship="right"
           relative="org.eclipse.ui.views.TaskList">
     </view>
  </perspectiveExtension>
	</extension>
    <extension
          point="org.eclipse.ui.popupMenus">
       <objectContribution
             id="org.amanzi.splash.splashWizard"
             objectClass="net.refractions.udig.project.IRubyProject">
          <action
                class="org.amanzi.splash.ui.wizards.SplashNewSpreadsheetWizardAction"
                icon="icons/splash_16.png"
                id="org.amanzi.splash.action2"
                label="Amanzi Splash Spreadsheet">
          </action>
       </objectContribution>
       <objectContribution
             id="org.amanzi.splash.objectContribution1"
             objectClass="org.rubypeople.rdt.core.IRubyProject">
          <action
                class="org.amanzi.splash.ui.wizards.SplashNewSpreadsheetWizardAction"
                enablesFor="1"
                icon="icons/splash_16.png"
                id="org.amanzi.splash.action2"
                label="New Amanzi Splash Spreadsheet"
                menubarPath="group.new">
          </action>
       </objectContribution>
    </extension>

   
   <extension
          point="org.eclipse.ui.commands">
       <category
             id="org.amanzi.splash.commands.category"
             name="Amanzi Splash Commands">
       </category>
       <command
             categoryId="org.amanzi.splash.commands.category"
             id="org.amanzi.splash.commands.addtoimportfiltercommand"
             name="Add to Import Filter">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="org.amanzi.splash.handlers.AddToImportFilterrHandler"
             commandId="org.amanzi.splash.commands.addtoimportfiltercommand">
       </handler>
    </extension>
    <extension
          point="org.eclipse.ui.bindings">
    </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
          <toolbar
                id="org.amanzi.splash.toolbars.sampleToolbar">
             <command
                   commandId="org.amanzi.splash.commands.barchartcommand"
                   icon="icons/barchart.png"
                   id="org.amanzi.splash.toolbars.barChartCommand"
                   tooltip="Plot Bar Chart">
             </command>
             <command
                   commandId="org.amanzi.splash.commands.piechartcommand"
                   icon="icons/piechart.png"
                   id="org.amanzi.splash.toolbars.pieChartCommand"
                   tooltip="Plot Pie Chart">
             </command>
             <command
                   commandId="org.amanzi.splash.commands.addtoimportfiltercommand"
                   icon="icons/filter_16.png"
                   id="Add to Import Filter">
             </command>
             <command
                   commandId="org.amanzi.splash.commands.createReport"
                   icon="icons/report.PNG"
                   id="org.amanzi.splash.commands.createReport"
                   tooltip="Create report">
             </command>
          </toolbar>
       </menuContribution>
    </extension>
    <extension
          point="org.eclipse.ui.elementFactories">
      <factory
            class="org.amanzi.splash.ui.SplashEditorInputFactory"
            id="org.amanzi.splash.ui.SplashEditorInputFactory">
      </factory>
      <factory
            class="org.amanzi.splash.chart.Charts"
            id="org.amanzi.splash.chart.Charts">
      </factory>          
    </extension>
    <extension
          point="org.eclipse.ui.importWizards">
       <wizard
             category="org.amanzi.splash"
             class="org.amanzi.splash.ui.importWizards.NeoDataFileImportWizard"
             icon="icons/splash_16.png"
             id="org.amanzi.splash.importWizards.NeoDataFileImportWizard"
             name="Import Data Into Splash">
          <description>
             Import a data file from the local file system into the active Amanzi Splash sheet
          </description>
       </wizard>
       <category
             id="org.amanzi.splash"
             name="Amanzi Splash">
       </category>
       <category
             id="org.amanzi.splash.importWizards.sampleCategory"
             name="Excel File Import">
       </category>
       <wizard
             category="org.amanzi.splash.importWizards.sampleCategory"
             class="org.amanzi.splash.ui.importWizards.ExcelImportWizard"
             icon="icons/excel_table.ico"
             id="org.amanzi.splash.importWizards.ExcelImportWizard"
             name="Import Excel File">
          <description>
             Import a file from the local file system into the workspace.
          </description>
       </wizard>
    </extension>
    <extension
          point="org.eclipse.ui.views">
       <category
             id="org.amanzi.splash"
             name="Import Builder">
       </category>
       <view
             category="org.amanzi.splash"
             class="org.amanzi.splash.views.importbuilder.ImportBuilderView"
             icon="icons/filter_16.png"
             id="org.amanzi.splash.views.ImportBuilderView"
             name="Import Builder">
       </view>
    </extension>
    <extension
          point="net.refractions.udig.ui.newObjectAction">
       <action
             class="org.amanzi.splash.ui.wizards.SplashNewSpreadsheetWizardAction"
             icon="icons/splash_16.png"
             id="org.amanzi.splash.newSpreadsheetAction"
             label="New Amanzi Splash Sheet">
       </action>
       <action
             class="org.amanzi.splash.ui.wizards.NewReportAction"
             icon="icons/report.PNG"
             id="org.amanzi.splash.ui.wizards.newReportAction"
             label="New Amanzi Report">
       </action>
    </extension>
</plugin>
