<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

     <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Amanzi: Mini-Spreadsheet"
            icon="icons/spreadsheet.gif"
            extensions="jrss"
            contributorClass="org.amanzi.splash.ui.actions.JRSSEditorActionBarContributor"
            class="org.amanzi.splash.ui.SplashResourceEditor"
            id="org.amanzi.splash.editor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Amanzi"
            id="com.amanzi">
      </category>
      <wizard
            canFinishEarly="true"
            category="com.amanzi"
            class="org.amanzi.splash.ui.wizards.NewSplashWizard"
            icon="icons/spreadsheet.gif"
            id="org.amanzi.spreadsheet.jrss.editor.ui.wizards.newminispreadsheetwizard"
            name="Splash Spreadsheet"
            project="true">
         <description>
            Create a JRuby spreadsheet.
         </description>
      </wizard>
   </extension>
   
   	<extension point= "org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID= "org.eclipse.ui.resourcePerspective">
		<actionSet id="org.eclipse.jdt.ui.JavaActionSet"/>
		<viewShortcut id="org.eclipse.jdt.ui.PackageExplorer"/>
		<newWizardShortcut id="org.amanzi.spreadsheet.jrss.editor.ui.wizards.newminispreadsheetwizard"/>
		<perspectiveShortcut id="org.amanzi.awe.perspective"/>
		<view id= "org.eclipse.jdt.ui.PackageExplorer" relative="org.eclipse.ui.views.ResourceNavigator" relationship="stack"/>
		<view id= "org.eclipse.jdt.ui.TypeHierarchy" relative= "org.eclipse.ui.views.ResourceNavigator" relationship= "left" ratio= "0.50" />
		</perspectiveExtension>
	</extension>

   
   
   
   
   
  

</plugin>
