<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

     <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Amanzi: Mini-Spreadsheet"
            icon="icons/spreadsheet.gif"
            extensions="jrss"
            class="org.amanzi.splash.ui.SplashResourceEditor"
            id="org.amanzi.splash.editor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Amanzi"
            id="org.amanzi.splash">
      </category>
      <wizard
            category="org.amanzi.splash"
            class="org.amanzi.splash.ui.wizards.SplashNewSpreadsheetWizard"
            icon="icons/spreadsheet.gif"
            id="org.amanzi.splash.wizards.SplashNewSpreadsheetWizard"
            name="Amanzi File-Based Splash Spreadsheet">
      </wizard>
   </extension>
   
   	<extension point= "org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID= "org.eclipse.ui.resourcePerspective">
		<actionSet id="org.eclipse.jdt.ui.JavaActionSet"/>
		<viewShortcut id="org.eclipse.jdt.ui.PackageExplorer"/>
		<newWizardShortcut id="org.amanzi.spreadsheet.jrss.editor.ui.wizards.newminispreadsheetwizard"/>
		<perspectiveShortcut id="org.amanzi.awe.perspective"/>
		<view id= "org.eclipse.jdt.ui.PackageExplorer" relative="org.eclipse.ui.views.ResourceNavigator" relationship="stack"/>
		<view id= "org.eclipse.jdt.ui.TypeHierarchy" relative= "org.eclipse.ui.views.ResourceNavigator" relationship= "left" ratio= "0.50" />
		</perspectiveExtension>
  <perspectiveExtension
        targetID="org.eclipse.ui.resourcePerspective">
     <view
           id="org.amanzi.splash.views.SplashChartsView"
           ratio="0.5"
           relationship="right"
           relative="org.eclipse.ui.views.TaskList">
     </view>
  </perspectiveExtension>
	</extension>
    <extension
          point="org.eclipse.ui.popupMenus">
       <objectContribution
             id="org.amanzi.splash.splashWizard"
             objectClass="net.refractions.udig.project.IRubyProject">
          <action
                class="org.amanzi.splash.ui.wizards.SplashNewFileBasedSpreadsheetWizardAction"
                icon="icons/spreadsheet.gif"
                id="org.amanzi.splash.action1"
                label="Amanzi File-Based Splash Spreadsheet">
          </action>
       </objectContribution>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <category
             id="org.amanzi.splash.commands.category"
             name="Sample Category">
       </category>
       <command
             categoryId="org.amanzi.splash.commands.category"
             id="org.amanzi.splash.commands.sampleCommand"
             name="barchart">
       </command>
       <command
             categoryId="org.amanzi.splash.commands.category"
             id="org.amanzi.splash.pieChartcommand"
             name="piechart">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="org.amanzi.splash.handlers.SplashToolbarHandler"
             commandId="org.amanzi.splash.commands.sampleCommand">
       </handler>
       <handler
             class="org.amanzi.splash.handlers.PieChartCommandHandler"
             commandId="org.amanzi.splash.pieChartcommand">
       </handler>
    </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="org.amanzi.splash.commands.sampleCommand"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+6">
       </key>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="menu:org.eclipse.ui.main.menu?after=additions">
          <menu
                id="org.amanzi.splash.menus.sampleMenu"
                label="Sample Menu"
                mnemonic="M">
             <command
                   commandId="org.amanzi.splash.commands.sampleCommand"
                   id="org.amanzi.splash.menus.sampleCommand"
                   mnemonic="S">
             </command>
          </menu>
       </menuContribution>
       <menuContribution
             locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
          <toolbar
                id="org.amanzi.splash.toolbars.sampleToolbar">
             <command
                   commandId="org.amanzi.splash.commands.sampleCommand"
                   icon="icons/barchart.ico"
                   id="org.amanzi.splash.toolbars.barChartCommand"
                   tooltip="Plot Bar Chart">
             </command>
             <command
                   commandId="org.amanzi.splash.pieChartcommand"
                   icon="icons/piechart.ico"
                   id="org.amanzi.splash.toolbars.pieChartCommand"
                   tooltip="Plot Pie Chart">
             </command>
          </toolbar>
       </menuContribution>
    </extension>

   
   
  

</plugin>
