<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.amanzi.awe.catalog.csv.ServiceExtensions"
         name="CSV Service Extensions"
         point="net.refractions.udig.catalog.ServiceExtension">
      <service
            class="org.amanzi.awe.catalog.csv.CSVServiceExtension"
            id="org.amanzi.awe.catalog.csv.service"
            name="CSV Catalog Service Extension">
      </service>
   </extension>
   <extension
         id="org.amanzi.awe.catalog.csv.Formats"
         name="CSV Formats"
         point="net.refractions.udig.catalog.ui.fileFormat">
      <fileService
            fileExtension="*.csv"
            name="CSV (comma separated values)">
      </fileService>
   </extension>

</plugin>
