<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.amanzi.neo.loader.ui.loaders">
      <loader
            description="Ericsson GPEH"
            gui="org.amanzi.neo.loader.ui.wizards.OssImportWizard"
            parser="org.amanzi.awe.gpeh.GpehParser"
            saver="org.amanzi.awe.gpeh.GpehStatisticsSaver">
         <pages
               class="org.amanzi.awe.gpeh.GpehImportWizardPage"></pages>
      </loader>
      <loader
            description="Ericsson GPEH"
            gui="org.amanzi.awe.gpeh.wizard.GpehCsvParserWizard"
            parser="org.amanzi.awe.gpeh.GpehParser"
            saver="org.amanzi.awe.gpeh.GpehCSVSaver">
      </loader>
   </extension>
	<extension
          point="org.amanzi.neo.loader.ui.gui">
       <GUI
             class="org.amanzi.awe.gpeh.wizard.GpehCsvParserWizard"
             id="org.amanzi.awe.gpeh.wizard.GpehCsvParserWizard">
       </GUI>
    </extension>
   <extension
         point="org.amanzi.loader.core.saver">
      <saver
            class="org.amanzi.awe.gpeh.GpehStatisticsSaver"
            id="org.amanzi.awe.gpeh.GpehStatisticsSaver">
      </saver>
      <saver
      		class="org.amanzi.awe.gpeh.GpehCSVSaver"
            id="org.amanzi.awe.gpeh.GpehCSVSaver">
      </saver>
   </extension>
   <extension
         point="org.amanzi.loader.core.parser">
      <parser
            class="org.amanzi.awe.gpeh.GpehParser"
            id="org.amanzi.awe.gpeh.GpehParser">
      </parser>
   </extension>
       <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
          <toolbar
                id="org.amanzi.neo.loader.toolbar2">             
             <command
                   commandId="org.amanzi.neo.loader.ui.commands.LaunchLoader"
                   icon="icons/16/delta_network.png"
                   id="org.amanzi.neo.loader.ui.LoadLauncher"
                   tooltip="GPEH to CSV">
                <parameter
                      name="org.amanzi.neo.loader.ui.commands.guiId"
                      value="org.amanzi.awe.gpeh.wizard.GpehCsvParserWizard">
                </parameter>
             </command>
         </toolbar>
     </menuContribution>
     </extension>

</plugin>
