<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.amanzi.loader.toolbar">
            <command
                  commandId="org.amanzi.command.launchLoader"
                  icon="icons/16/drive.png"
                  style="push"
                  tooltip="%GeoptimaLoaderTooltip">
               <parameter
                     name="org.amanzi.loader.wizard.id"
                     value="org.amanzi.wizards.GeoptimaWizard">
               </parameter>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
 <extension
         point="org.amanzi.loader.pages">
      <page
            class="org.amanzi.neo.geoptima.loader.ui.page.impl.GeoptimaLoaderTypeSelectionPage"
            description="%LoadGeoptimaPageDescription"
            title="%LoadGeoptimaPageTitle"
            wizardId="org.amanzi.wizards.GeoptimaWizard">
         <loaders
               refId="org.amanzi.loader.GeoptimaLoader">
         </loaders>
        <loaders
               refId="org.amanzi.loader.GeoptimaWebLoader">
         </loaders>
         <loaders
               refId="org.amanzi.loader.GeoptimaFtpLoader">
         </loaders>
      </page>
   </extension>
     <extension
         point="org.amanzi.loader.wizards">
       <wizard
            class="org.amanzi.neo.geoptima.loader.ui.wizard.impl.GeoptimaLoaderWizard"
            id="org.amanzi.wizards.GeoptimaWizard"
            title="%LoadGeoptimaWizardTitle">
      </wizard>
   </extension>
</plugin>
