#Sun Sep 27 00:00:59 EET 2009
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
verboseAnt=-verbose
autotestsuite.trace=true
pluginbuilder.features=org.amanzi.splash.extras_feature,org.neo4j.neoclipse_feature
pluginbuilder.is.svn=false
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=false
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=true
pluginbuilder.is.rcpbuild=false
