#Fri Sep 25 08:55:02 EET 2009
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
verboseAnt=-verbose
autotestsuite.trace=true
pluginbuilder.features=org.amanzi.splash.extras_feature,org.neo4j.neoclipse_feature,org.amanzi.awe_feature
autotestsuite.class.inclusions=.*
pluginbuilder.is.svn=true
pluginbuilder.is.runtests=false
pluginbuilder.svn.url=svn+ssh\://amabdelsalam@svn.amanzi.org/var/lib/svn/trunk/awe/
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.svn.user=amabdelsalam
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=false
