<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.refractions.udig.project.ui.tool">
      <modalTool
            class="org.amanzi.awe.tool.coordinate.CoordinateTool"
            icon="icons/etool16/xy.png"
            id="org.amanzi.awe.tool.coordinate"
            name="XY Coordinate Tool"
            onToolbar="true"
            tooltip="Show XY position at mouse pointer">
      </modalTool>
   </extension>

</plugin>
