<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="org.eclipse.ui.commands">
       <category
             id="org.amanzi.neo.loader.commands.category"
             name="Amanzi Filters Commands">
       </category>         
       <command
             categoryId="org.amanzi.neo.loader.commands.category"
             id="org.amanzi.awe.filters.ui"
             name="Filter Manager">
       </command>
    </extension>
    
   <extension
          point="org.eclipse.ui.handlers">       
       <handler
             class="org.amanzi.awe.filters.ui.handler.WizardInstantiationHandler"
             commandId="org.amanzi.awe.filters.ui">
       </handler>
    </extension>
    
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
          <toolbar
                id="org.amanzi.neo.loader.toolbar2">             
              <command
                   commandId="org.amanzi.awe.filters.ui"
                   icon="/icons/16/filter.png"
                   id="org.amanzi.awe.filters.ui"
                   tooltip="Filter manager">
             </command>
          </toolbar>
       </menuContribution>
    </extension>

</plugin>
