<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.amanzi.neo.loader.ui.gui" name="GUI for loaders" schema="schema/org.amanzi.neo.loader.ui.gui.exsd"/>
   <extension-point id="org.amanzi.neo.loader.ui.loaders" name="Loaders" schema="schema/org.amanzi.neo.loader.ui.loaders.exsd"/>
      <extension
          point="org.eclipse.ui.commands">
       <category
             id="org.amanzi.neo.loader.commands.category"
             name="Amanzi Loading Commands">
       </category>         
       <command
             categoryId="org.amanzi.neo.loader.commands.category"
             id="org.amanzi.neo.loader.ui.commands.LoadGPEHHandler"
             name="Load OSS Data">
                       <commandParameter id="org.amanzi.neo.loader.commands.addtoselect" name="add to select" optional="true">
        </commandParameter>
       </command>
       <command
             categoryId="org.amanzi.neo.loader.commands.category"
             id="org.amanzi.neo.loader.ui.commands.LaunchLoader"
             name="LoadLauncher">
          <commandParameter
                id="org.amanzi.neo.loader.ui.commands.guiId"
                name="gui id"
                optional="false">
          </commandParameter>
       </command>   
    </extension>
    <extension
          point="org.eclipse.ui.handlers">       
       <handler
             class="org.amanzi.neo.loader.ui.handlers.LaunchLoader"
             commandId="org.amanzi.neo.loader.ui.commands.LaunchLoader">
       </handler>
    </extension>
   
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
          <toolbar
                id="org.amanzi.neo.loader.toolbar2">             
             <command
                   commandId="org.amanzi.neo.loader.ui.commands.LaunchLoader"
                   icon="icons/16/delta_network.png"
                   id="org.amanzi.neo.loader.ui.LoadLauncher"
                   tooltip="Load OSS Data">
                <parameter
                      name="org.amanzi.neo.loader.ui.commands.guiId"
                      value="org.amanzi.neo.loader.ui.wizards.OssImportWizard">
                </parameter>
             </command>
             <command
                   commandId="org.amanzi.neo.loader.ui.commands.LaunchLoader"
                   icon="icons/16/network.png"
                   id="org.amanzi.neo.loader.ui.LoadLauncher"
                   tooltip="Load Network  Data">
                <parameter
                      name="org.amanzi.neo.loader.ui.commands.guiId"
                      value="org.amanzi.neo.loader.ui.wizards.NetworkImportWizard">
                </parameter>
             </command>
             <command
                   commandId="org.amanzi.neo.loader.ui.commands.LaunchLoader"
                   icon="icons/16/dataset.png"
                   id="org.amanzi.neo.loader.ui.LoadLauncher"
                   tooltip="Load dataset data">
                <parameter
                      name="org.amanzi.neo.loader.ui.commands.guiId"
                      value="org.amanzi.neo.loader.ui.wizards.DatasetImportWizard">
                </parameter>
             </command>            
          </toolbar>
       </menuContribution>
    </extension>
    <extension
          point="org.amanzi.neo.loader.ui.gui">
       <GUI
             class="org.amanzi.neo.loader.ui.wizards.OssImportWizard"
             id="org.amanzi.neo.loader.ui.wizards.OssImportWizard">
       </GUI>
       <GUI
             class="org.amanzi.neo.loader.ui.wizards.NetworkImportWizard"
             id="org.amanzi.neo.loader.ui.wizards.NetworkImportWizard">
       </GUI>
       <GUI
             class="org.amanzi.neo.loader.ui.wizards.DatasetImportWizard"
             id="org.amanzi.neo.loader.ui.wizards.DatasetImportWizard">
       </GUI>
    </extension>
    <extension
          point="org.amanzi.neo.loader.ui.loaders">
       <loader
             description="Network Sector Data"
             gui="org.amanzi.neo.loader.ui.wizards.NetworkImportWizard"
             parser="org.amanzi.neo.loader.core.parser.CSVParser"
             saver="org.amanzi.neo.loader.core.saver.impl.NetworkSaver"
             validator="org.amanzi.neo.loader.ui.validators.NetworkSectorDataValidator">
       </loader>
       <loader
             description="Network Site Data"
             gui="org.amanzi.neo.loader.ui.wizards.NetworkImportWizard"
             parser="org.amanzi.neo.loader.core.parser.CSVParser"
             saver="org.amanzi.neo.loader.core.saver.impl.NetworkSiteSaver"
             validator="org.amanzi.neo.loader.ui.validators.NetworkSiteDataValidator">
       </loader>
       <loader
             description="Neighbour Loader"
             gui="org.amanzi.neo.loader.ui.wizards.NetworkImportWizard"
             parser="org.amanzi.neo.loader.core.parser.CSVParser"
             saver="org.amanzi.neo.loader.core.saver.impl.NeighbourSaver"
             validator="org.amanzi.neo.loader.ui.validators.NeighbourDataValidator">
       </loader>
       <loader
             description="Transmission Loader"
             gui="org.amanzi.neo.loader.ui.wizards.NetworkImportWizard"
             parser="org.amanzi.neo.loader.core.parser.CSVParser"
             saver="org.amanzi.neo.loader.core.saver.impl.TransmissionSaver"
             validator="org.amanzi.neo.loader.ui.validators.TransmissionDataValidator">
       </loader>
       <loader
             description="Tems Data"
             gui="org.amanzi.neo.loader.ui.wizards.DatasetImportWizard"
             parser="org.amanzi.neo.loader.core.parser.CSVParser"
             saver="org.amanzi.neo.loader.core.saver.impl.TemsSaver">
       </loader>
       <loader
             description="Romes Data"
             gui="org.amanzi.neo.loader.ui.wizards.DatasetImportWizard"
             parser="org.amanzi.neo.loader.core.parser.CSVParser"
             saver="org.amanzi.neo.loader.core.saver.impl.RomesSaver">
       </loader>
       <loader
             description="Nemo data v1.86"
             gui="org.amanzi.neo.loader.ui.wizards.DatasetImportWizard"
             parser="org.amanzi.neo.loader.core.parser.LineParser"
             saver="org.amanzi.neo.loader.core.saver.impl.Nemo1xSaver">
       </loader>
       <loader
             description="Nemo data v2.01"
             gui="org.amanzi.neo.loader.ui.wizards.DatasetImportWizard"
             parser="org.amanzi.neo.loader.core.parser.LineParser"
             saver="org.amanzi.neo.loader.core.saver.impl.Nemo2xSaver">
       </loader>
    </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.amanzi.neo.loader.ui.preferences.DataLoadPreferencePage"
            id="org.amanzi.neo.loader.ui.preferences.DataLoadPreferencePage"
            name="Amanzi Data">
      </page>
       <page
            class="org.amanzi.neo.loader.ui.preferences.NetworkLoaderPreferencePage"
            id="org.amanzi.neo.loader.ui.preferences.NetworkLoaderPreferencePage"
            name="Network data"
            category="org.amanzi.neo.loader.ui.preferences.DataLoadPreferencePage">
      </page>
      <page
            class="org.amanzi.neo.loader.ui.preferences.DriveLoaderPreferencePage"
            id="org.amanzi.neo.loader.ui.preferences.DriveLoaderPreferencePage"
            name="Drive data"
            category="org.amanzi.neo.loader.ui.preferences.DataLoadPreferencePage">
      </page>
      <page
            class="org.amanzi.neo.loader.ui.preferences.CommonCRSPreferencePage"
            id="org.amanzi.neo.loader.ui.preferences.CommonCRSPreferencePage"
            name="Common CRS"
            category="org.amanzi.neo.loader.ui.preferences.DataLoadPreferencePage">
      </page>

	  <page
            class="org.amanzi.neo.loader.ui.preferences.NeighbourLoaderPreferencePage"
            id="org.amanzi.neo.loader.ui.preferences.NeighbourLoaderPreferencePage"
            name="Neighbour lists"
            category="org.amanzi.neo.loader.ui.preferences.DataLoadPreferencePage">
      </page>
      <page
            class="org.amanzi.neo.loader.ui.preferences.ProbeLoaderPreferencePage"
            id="org.amanzi.neo.loader.ui.preferences.ProbeLoaderPreferencePage"
            name="Probe data"
            category="org.amanzi.neo.loader.ui.preferences.DataLoadPreferencePage">
      </page>
      <page
            class="org.amanzi.neo.loader.ui.preferences.TransmissionLoaderPreferencePage"
            id="org.amanzi.neo.loader.ui.preferences.TransmissionLoaderPreferencePage"
            name="Transmission lists"
            category="org.amanzi.neo.loader.ui.preferences.DataLoadPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.amanzi.neo.loader.ui.preferences.DataLoadPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
