<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.amanzi.neo.loader.ui.gui" name="GUI for loaders" schema="schema/org.amanzi.neo.loader.ui.gui.exsd"/>
   <extension-point id="org.amanzi.neo.loader.ui.loaders" name="Loaders" schema="schema/org.amanzi.neo.loader.ui.loaders.exsd"/>
   <extension-point id="org.amanzi.neo.loader.ui.newloaders" name="NewLoaders" schema="schema/org.amanzi.neo.loader.ui.newloaders.exsd"/>
      <extension
          point="org.eclipse.ui.commands">
       <category
             id="org.amanzi.neo.loader.commands.category"
             name="Amanzi Loading Commands">
       </category>         
       <command
             categoryId="org.amanzi.neo.loader.commands.category"
             id="org.amanzi.neo.loader.ui.commands.LoadGPEHHandler"
             name="Load OSS Data">
                       <commandParameter id="org.amanzi.neo.loader.commands.addtoselect" name="add to select" optional="true">
        </commandParameter>
       </command>
       <command
             categoryId="org.amanzi.neo.loader.commands.category"
             id="org.amanzi.neo.loader.ui.commands.LaunchLoader"
             name="LoadLauncher">
          <commandParameter
                id="org.amanzi.neo.loader.ui.commands.guiId"
                name="gui id"
                optional="false">
          </commandParameter>
       </command>
       <command
             categoryId="org.amanzi.neo.loader.commands.category"
             id="org.amanzi.neo.loader.ui.commands.LaunchLoaderNew"
             name="LaunchLoaderNew">
          <commandParameter
                id="org.amanzi.neo.loader.ui.commands.guiId"
                name="gui id"
                optional="false">
          </commandParameter>
       </command>   
       
    </extension>
    <extension
          point="org.eclipse.ui.handlers">       
       <handler
             class="org.amanzi.neo.loader.ui.handlers.LaunchLoader"
             commandId="org.amanzi.neo.loader.ui.commands.LaunchLoader">
       </handler>
    </extension>
   <extension
          point="org.eclipse.ui.handlers">       
       <handler
             class="org.amanzi.neo.loader.ui.handlers.LaunchLoaderNew"
             commandId="org.amanzi.neo.loader.ui.commands.LaunchLoaderNew">
       </handler>
    </extension>
    
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
          <toolbar
                id="org.amanzi.neo.loader.toolbar2">             
           
              <command
                   commandId="org.amanzi.neo.loader.ui.commands.LaunchLoaderNew"
                   icon="icons/16/network.png"
                   id="org.amanzi.neo.loader.ui.commands.LaunchLoaderNew"
                   tooltip="Load Network Data">
                <parameter
                      name="org.amanzi.neo.loader.ui.commands.guiId"
                      value="org.amanzi.neo.loader.ui.wizards.NetworkImportWizard">
                </parameter>
             </command>
             <command
                   commandId="org.amanzi.neo.loader.ui.commands.LaunchLoaderNew"
                   icon="icons/16/dataset.png"
                   id="org.amanzi.neo.loader.ui.LoadLauncher"
                   tooltip="Load Dataset">
                <parameter
                      name="org.amanzi.neo.loader.ui.commands.guiId"
                      value="org.amanzi.neo.loader.ui.wizards.DatasetImportWizard">
                </parameter>
             </command>            
             <command
                   commandId="org.amanzi.neo.loader.ui.commands.LaunchLoader"
                   icon="icons/16/oss.png"
                   id="org.amanzi.neo.loader.ui.LoadLauncher"
                   tooltip="Load OSS Data">
                <parameter
                      name="org.amanzi.neo.loader.ui.commands.guiId"
                      value="org.amanzi.neo.loader.ui.wizards.OssImportWizard">
                </parameter>
             </command>
             <command
                   commandId="org.amanzi.neo.loader.ui.commands.LaunchLoader"
                   icon="icons/16/oss.png"
                   id="org.amanzi.neo.loader.ui.commands.LaunchLoader"
                   style="push"
                   tooltip="Load Network Configuration Data">
                <parameter
                      name="org.amanzi.neo.loader.ui.commands.guiId"
                      value="org.amanzi.neo.loader.ui.wizards.NetworkConfigurationImportWizard">
                </parameter>
             </command>
             <command
                   commandId="org.amanzi.neo.loader.ui.commands.LaunchLoader"
                   icon="icons/16/oss_stats.png"
                   id="org.amanzi.neo.loader.ui.commands.LaunchLoader"
                   style="push"
                   tooltip="Load Network Measurements Data">
                <parameter
                      name="org.amanzi.neo.loader.ui.commands.guiId"
                      value="org.amanzi.neo.loader.ui.wizards.NetworkMeasurementImportWizard">
                </parameter>
             </command>
          </toolbar>
       </menuContribution>
    </extension>
    <extension
          point="org.amanzi.neo.loader.ui.gui">
       <GUI
             class="org.amanzi.neo.loader.ui.wizards.OssImportWizard"
             id="org.amanzi.neo.loader.ui.wizards.OssImportWizard">
       </GUI>
       <GUI
             class="org.amanzi.neo.loader.ui.wizards.NetworkImportWizard"
             id="org.amanzi.neo.loader.ui.wizards.NetworkImportWizard">
       </GUI>
       <GUI
             class="org.amanzi.neo.loader.ui.wizards.DatasetImportWizard"
             id="org.amanzi.neo.loader.ui.wizards.DatasetImportWizard">
       </GUI>
       <GUI
             class="org.amanzi.neo.loader.ui.wizards.DatasetImportWizard"
             id="org.amanzi.neo.loader.ui.wizards.DatasetImportWizard">
       </GUI>
       <GUI
             class="org.amanzi.neo.loader.ui.wizards.NetworkConfigurationImportWizard"
             id="org.amanzi.neo.loader.ui.wizards.NetworkConfigurationImportWizard">
       </GUI>
    </extension>
    <extension
          point="org.amanzi.neo.loader.ui.loaders">
       <loader
             allowCreate="true"
             config="org.amanzi.neo.loader.ui.validators.NetworkSectorDataValidator"
             description="Network Sector Data"
             gui="org.amanzi.neo.loader.ui.wizards.NetworkImportWizard"
             parser="org.amanzi.neo.loader.core.parser.CSVParser"
             renderable="true"
             saver="org.amanzi.neo.loader.core.saver.impl.NetworkSaver"
             validator="org.amanzi.neo.loader.ui.validators.NetworkSectorDataValidator">
       </loader>
    <!--   <loader
             description="Network Site Data"
             gui="org.amanzi.neo.loader.ui.wizards.NetworkImportWizard"
             loader_class="org.amanzi.neo.loader.ui.loaders.SimpleLoader"
             parser="org.amanzi.neo.loader.core.parser.CSVParser"
             saver="org.amanzi.neo.loader.core.saver.impl.NetworkSiteSaver"
             validator="org.amanzi.neo.loader.ui.validators.NetworkSiteDataValidator"
             renderable="true"
             allowCreate="true">
       </loader>
       -->
       <loader
             description="Neighbour Loader"
             gui="org.amanzi.neo.loader.ui.wizards.NetworkImportWizard"
             loader_class="org.amanzi.neo.loader.ui.loaders.SimpleLoader"
             parser="org.amanzi.neo.loader.core.parser.CSVParser"
             saver="org.amanzi.neo.loader.core.saver.impl.NeighbourSaver"
             validator="org.amanzi.neo.loader.ui.validators.NeighbourDataValidator">
       </loader>
       <loader
             description="Transmission Loader"
             gui="org.amanzi.neo.loader.ui.wizards.NetworkImportWizard"
             loader_class="org.amanzi.neo.loader.ui.loaders.SimpleLoader"
             parser="org.amanzi.neo.loader.core.parser.CSVParser"
             saver="org.amanzi.neo.loader.core.saver.impl.TransmissionSaver"
             validator="org.amanzi.neo.loader.ui.validators.TransmissionDataValidator">
       </loader>
 <!--      <loader
             description="Tems Data"
             gui="org.amanzi.neo.loader.ui.wizards.DatasetImportWizard"
             parser="org.amanzi.neo.loader.core.parser.CSVParser"
             saver="org.amanzi.neo.loader.core.saver.impl.TemsSaver"
             renderable="true"
             allowCreate="true">
       </loader>
       -->
       <loader
             description="Romes Data"
             gui="org.amanzi.neo.loader.ui.wizards.DatasetImportWizard"
             parser="org.amanzi.neo.loader.core.parser.CSVParser"
             saver="org.amanzi.neo.loader.core.saver.impl.RomesSaver"
             renderable="true"
             allowCreate="true">
       </loader>
       <loader
             description="Nemo data v1.86"
             gui="org.amanzi.neo.loader.ui.wizards.DatasetImportWizard"
             parser="org.amanzi.neo.loader.core.parser.LineParser"
             saver="org.amanzi.neo.loader.core.saver.impl.Nemo1xSaver"
             renderable="true"
             allowCreate="true">
       </loader>
       <loader
             description="Nemo data v2.01"
             gui="org.amanzi.neo.loader.ui.wizards.DatasetImportWizard"
             parser="org.amanzi.neo.loader.core.parser.LineParser"
             saver="org.amanzi.neo.loader.core.saver.impl.Nemo2xSaver"
             renderable="true"
             allowCreate="true">
       </loader>
       <loader
             description="Network Selection"
             gui="org.amanzi.neo.loader.ui.wizards.NetworkImportWizard"
             loader_class="org.amanzi.neo.loader.ui.loaders.SimpleLoader"
             parser="org.amanzi.neo.loader.core.parser.LineParser"
             saver="org.amanzi.neo.loader.core.saver.impl.NetworkSelectionSaver"
             validator="org.amanzi.neo.loader.ui.validators.ExistNetworkValidator">
       </loader>
       <loader
             description="Traffic data"
             gui="org.amanzi.neo.loader.ui.wizards.NetworkImportWizard"
             loader_class="org.amanzi.neo.loader.ui.loaders.SimpleLoader"
             parser="org.amanzi.neo.loader.core.parser.CSVParser"
             saver="org.amanzi.neo.loader.core.saver.network.TrafficDataSaver"
             validator="org.amanzi.neo.loader.ui.validators.TrafficDataValidator">
       </loader>
       <loader
             description="Frequency constraints data"
             gui="org.amanzi.neo.loader.ui.wizards.NetworkImportWizard"
             loader_class="org.amanzi.neo.loader.ui.loaders.SimpleLoader"
             parser="org.amanzi.neo.loader.core.parser.CSVParser"
             saver="org.amanzi.neo.loader.core.saver.network.FrequencyConstraintsSaver"
             validator="org.amanzi.neo.loader.ui.validators.FrequencyConstraintsDataValidator">
       </loader>
	   <loader
          description="Separation constraints data"
          gui="org.amanzi.neo.loader.ui.wizards.NetworkImportWizard"
          loader_class="org.amanzi.neo.loader.ui.loaders.SimpleLoader"
          parser="org.amanzi.neo.loader.core.parser.CSVParser"
          saver="org.amanzi.neo.loader.core.saver.network.SeparationConstraintsSaver"
          validator="org.amanzi.neo.loader.ui.validators.SeparationConstraintsDataValidator">
       </loader>
       <loader
             description="Interference Matrix"
             gui="org.amanzi.neo.loader.ui.wizards.NetworkImportWizard"
             loader_class="org.amanzi.neo.loader.ui.loaders.SimpleLoader"
             parser="org.amanzi.neo.loader.core.parser.CSVParser"
             saver="org.amanzi.neo.loader.core.saver.network.InterferenceMatrixSaver"
             validator="org.amanzi.neo.loader.ui.validators.InterferenceMatrixValidator">
       </loader>
 	   <loader
           description="TRX data"
           gui="org.amanzi.neo.loader.ui.wizards.NetworkImportWizard"
           loader_class="org.amanzi.neo.loader.ui.loaders.SimpleLoader"
           parser="org.amanzi.neo.loader.core.parser.CSVParser"
           saver="org.amanzi.neo.loader.core.saver.network.TrxSaver"
           validator="org.amanzi.neo.loader.ui.validators.TrxDataValidator">
       </loader>
    </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.amanzi.neo.loader.ui.preferences.DataLoadPreferencePage"
            id="org.amanzi.neo.loader.ui.preferences.DataLoadPreferencePage"
            name="Amanzi Data">
      </page>
      <page
      		class="org.amanzi.neo.loader.ui.preferences.SynonymLoaderPreferencePage"
      		id="org.amanzi.neo.loader.ui.preferences.SynonymsPreferencePage"
      		name="Synonyms"
      		category="org.amanzi.neo.loader.ui.preferences.DataLoadPreferencePage">
      </page>
       <page
            class="org.amanzi.neo.loader.ui.preferences.ImportSynonymsPreferencePage"
            id="org.amanzi.neo.loader.ui.preferences.CommonSynonymsPreferencePage"
            name="Import synonyms data"
            category="org.amanzi.neo.loader.ui.preferences.SynonymsPreferencePage">
      </page>
      <page
            class="org.amanzi.neo.loader.ui.preferences.NetworkLoaderPreferencePage"
            id="org.amanzi.neo.loader.ui.preferences.NetworkLoaderPreferencePage"
            name="Network data"
            category="org.amanzi.neo.loader.ui.preferences.SynonymsPreferencePage">
      </page>
      <page
            class="org.amanzi.neo.loader.ui.preferences.DriveLoaderPreferencePage"
            id="org.amanzi.neo.loader.ui.preferences.DriveLoaderPreferencePage"
            name="Drive data"
            category="org.amanzi.neo.loader.ui.preferences.SynonymsPreferencePage">
      </page>
      <page
            class="org.amanzi.neo.loader.ui.preferences.CommonCRSPreferencePage"
            id="org.amanzi.neo.loader.ui.preferences.CommonCRSPreferencePage"
            name="Common CRS"
            category="org.amanzi.neo.loader.ui.preferences.DataLoadPreferencePage">
      </page>

	  <page
            class="org.amanzi.neo.loader.ui.preferences.NeighbourLoaderPreferencePage"
            id="org.amanzi.neo.loader.ui.preferences.NeighbourLoaderPreferencePage"
            name="Neighbour lists"
            category="org.amanzi.neo.loader.ui.preferences.SynonymsPreferencePage">
      </page>
      <page
            class="org.amanzi.neo.loader.ui.preferences.ProbeLoaderPreferencePage"
            id="org.amanzi.neo.loader.ui.preferences.ProbeLoaderPreferencePage"
            name="Probe data"
            category="org.amanzi.neo.loader.ui.preferences.SynonymsPreferencePage">
      </page>
      <page
            class="org.amanzi.neo.loader.ui.preferences.TransmissionLoaderPreferencePage"
            id="org.amanzi.neo.loader.ui.preferences.TransmissionLoaderPreferencePage"
            name="Transmission lists"
            category="org.amanzi.neo.loader.ui.preferences.SynonymsPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.amanzi.neo.loader.core.preferences.DataLoadPreferenceInitializer">
      </initializer>
   </extension>

    <extension
         point="org.amanzi.neo.loader.ui.newloaders">
           <newloader
             gui="org.amanzi.neo.loader.ui.wizards.NetworkImportWizard"
             id="NewNeighboursLoader"
             loader_class="org.amanzi.neo.loader.ui.loaders.SimpleLoaderNew"
             loader_data_type="Neighbours"
             loader_name="NeighboursDataLoader"
             loader_type="Neighbours loader"
             parser="org.amanzi.neo.loader.core.newparser.CommonCSVParser"
             validator="org.amanzi.neo.loader.ui.validators.NewNeighboursDataValidator">
               <saver 
                id="org.amanzi.neo.loader.core.newsaver.NewNeighboursSaver"
            	class="org.amanzi.neo.loader.core.newsaver.NewNeighboursSaver"
            />
      </newloader>
       <newloader
             gui="org.amanzi.neo.loader.ui.wizards.NetworkImportWizard"
             id="NewNetworkLoader"
             loader_class="org.amanzi.neo.loader.ui.loaders.SimpleLoaderNew"
             loader_data_type="Network"
             loader_name="NewNetworkLoader"
             loader_type="site sector loader"
             parser="org.amanzi.neo.loader.core.newparser.CommonCSVParser"
             validator="org.amanzi.neo.loader.ui.validators.NetworkValidator">
               <saver 
               id="org.amanzi.neo.loader.core.newsaver.NewNetworkSaver"
            	class="org.amanzi.neo.loader.core.newsaver.NewNetworkSaver"
            />
      </newloader>
    <newloader
             gui="org.amanzi.neo.loader.ui.wizards.NetworkImportWizard"
             id="NewNetworkSelectionLoader"
             loader_class="org.amanzi.neo.loader.ui.loaders.SimpleLoaderNew"
             loader_data_type="Selection"
             loader_name="SelectionDataLoader"
             loader_type="sector selection loader"
             parser="org.amanzi.neo.loader.core.newparser.CommonCSVParser"
             validator="org.amanzi.neo.loader.ui.validators.SectorSelectionDataValidator">
               <saver 
                id="org.amanzi.neo.loader.core.newsaver.SectorSelectionSaver"
            	class="org.amanzi.neo.loader.core.newsaver.SectorSelectionSaver"
            />
      </newloader>
     
     <newloader
             gui="org.amanzi.neo.loader.ui.wizards.DatasetImportWizard"
             id="newROMESLoader"
             loader_class="org.amanzi.neo.loader.ui.loaders.SimpleLoaderNew"
             loader_data_type="TEMS"
             loader_name="TEMS DATA LOADER"
             loader_type="TEMS loader"
             parser="org.amanzi.neo.loader.core.newparser.CommonCSVParser"
             validator="org.amanzi.neo.loader.ui.validators.FakeValidator">
               <saver 
                id="org.amanzi.neo.loader.core.newsaver.NewTemsSaver"
            	class="org.amanzi.neo.loader.core.newsaver.NewTemsSaver"
            />
      </newloader>
       <newloader
             gui="org.amanzi.neo.loader.ui.wizards.DatasetImportWizard"
             id="newTEMSLOADER"
             loader_class="org.amanzi.neo.loader.ui.loaders.SimpleLoaderNew"
             loader_data_type="ROMES"
             loader_name="ROMES DATA LOADER"
             loader_type="ROMES loader"
             parser="org.amanzi.neo.loader.core.newparser.CommonCSVParser"
             validator="org.amanzi.neo.loader.ui.validators.FakeValidator">
               <saver 
                id="org.amanzi.neo.loader.core.newsaver.NewRomesSaver"
            	class="org.amanzi.neo.loader.core.newsaver.NewRomesSaver"
            />
      </newloader>
       <newloader
             gui="org.amanzi.neo.loader.ui.wizards.DatasetImportWizard"
             id="newNEMO1xLOADER"
             loader_class="org.amanzi.neo.loader.ui.loaders.SimpleLoaderNew"
             loader_data_type="NEMO v1.86"
             loader_name="NEMO v1.86 DATA LOADER"
             loader_type="NEMO v1.86 loader"
             parser="org.amanzi.neo.loader.core.newparser.CommonCSVParser"
             validator="org.amanzi.neo.loader.ui.validators.FakeValidator">
               <saver 
                id="org.amanzi.neo.loader.core.newsaver.NewNemo1xSaver"
            	class="org.amanzi.neo.loader.core.newsaver.NewNemo1xSaver"
            />
      </newloader>
        <newloader
             gui="org.amanzi.neo.loader.ui.wizards.DatasetImportWizard"
             id="newNEMO2xLOADER"
             loader_class="org.amanzi.neo.loader.ui.loaders.SimpleLoaderNew"
             loader_data_type="NEMO v2.01"
             loader_name="NEMO v2.01 DATA LOADER"
             loader_type="NEMO v2.01 loader"
             parser="org.amanzi.neo.loader.core.newparser.CommonCSVParser"
             validator="org.amanzi.neo.loader.ui.validators.FakeValidator">
               <saver 
                id="org.amanzi.neo.loader.core.newsaver.NewNemo2xSaver"
            	class="org.amanzi.neo.loader.core.newsaver.NewNemo2xSaver"
            />
      </newloader>
   </extension>

</plugin>
