<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.amanzi.loader.wizards" name="Loader Wizard" schema="schema/org.amanzi.loader.wizards.exsd"/>
   <extension-point id="org.amanzi.loader.pages" name="Loader Page" schema="schema/org.amanzi.loader.pages.exsd"/>
   <extension
         point="org.amanzi.loader.pages">
      <page
            class="org.amanzi.neo.loader.ui.page.impl.drive.LoadDrivePage"
            description="%LoadDrivePageDescription"
            title="%LoadDrivePageTitle"
            wizardId="org.amanzi.wizards.DriveLoaderWizard">
         <loaders
               refId="org.amanzi.loader.GeoptimaLoader">
         </loaders>
         <loaders
               refId="org.amanzi.loader.TEMSLoader">
         </loaders>
      </page>
      
      <page
            class="org.amanzi.neo.loader.ui.page.impl.network.LoadNetworkPage"
            description="%LoadNetworkPageDescription"
            title="%LoadNetworkPageTitle"
            wizardId="org.amanzi.wizards.NetworkLoaderWizard">
         <loaders
               refId="org.amanzi.loader.NetworkCSVLoader">
         </loaders>
         
      </page>
   </extension>
   <extension
         point="org.amanzi.loader.wizards">
      <wizard
            class="org.amanzi.neo.loader.ui.wizard.impl.NetworkLoaderWizard"
            id="org.amanzi.wizards.NetworkLoaderWizard"
            title="%LoadNetworkWizardTitle">
      </wizard>
      <wizard
            class="org.amanzi.neo.loader.ui.wizard.impl.DriveLoaderWizard"
            id="org.amanzi.wizards.DriveLoaderWizard"
            title="%LoadDriveWizardTitle">
      </wizard>
       
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.amanzi.command.launchLoader"
            name="%LaunchLoaderCommand">
         <commandParameter
               id="org.amanzi.loader.wizard.id"
               name="ID of Loader Wizard"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.amanzi.loader.toolbar">
            <command
                  commandId="org.amanzi.command.launchLoader"
                  icon="icons/16/network.png"
                  style="push"
                  tooltip="%NetworkLoaderTooltip">
               <parameter
                     name="org.amanzi.loader.wizard.id"
                     value="org.amanzi.wizards.NetworkLoaderWizard">
               </parameter>
            </command>
            <command
                  commandId="org.amanzi.command.launchLoader"
                  icon="icons/16/drive.png"
                  style="push"
                  tooltip="%DriveLoaderTooltip">
               <parameter
                     name="org.amanzi.loader.wizard.id"
                     value="org.amanzi.wizards.DriveLoaderWizard">
               </parameter>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.amanzi.neo.loader.ui.handler.LoaderWizardHandler"
            commandId="org.amanzi.command.launchLoader">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.amanzi.awe.preferences"
            class="org.amanzi.neo.loader.ui.preferences.SynonymsPreferencePage"
            id="org.amanzi.awe.loader.synonyms"
            name="Import Synonyms">
      </page>
      <page
            category="org.amanzi.awe.loader.synonyms"
            class="org.amanzi.neo.loader.ui.preferences.NetworkSynonymsPreferencePage"
            id="org.amanzi.awe.loader.network_synonyms"
            name="Network Synonyms">
      </page>
      <page
            category="org.amanzi.awe.loader.synonyms"
            class="org.amanzi.neo.loader.ui.preferences.DriveSynonymsPreferencePage"
            id="org.amanzi.awe.loader.drive_synonyms"
            name="Drive Synonyms">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.amanzi.neo.loader.ui.preferences.internal.SynonymsPreferencesInitializer">
      </initializer>
   </extension>
</plugin>
