<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Network Tree"
            icon="icons/network.png"
            category="org.amanzi.awe.views"
            class="org.amanzi.awe.views.network.view.NewNetworkTreeView"
            id="org.amanzi.awe.views.network.views.NewNetworkTreeView">
      </view>
   </extension>
   
</plugin>
