<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Network Tree"
            icon="icons/network.png"
            category="org.amanzi.awe.script"
            class="org.amanzi.awe.views.network.view.NetworkTreeView"
            id="org.amanzi.awe.networktree.views.NetworkTreeView">
      </view>
   </extension>

</plugin>
