<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Network Tree"
            icon="icons/network.png"
            category="org.amanzi.awe.views"
            class="org.amanzi.awe.views.network.view.NetworkTreeView"
            id="org.amanzi.awe.views.network.views.NetworkTreeView">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.amanzi.awe.perspective">
         <view
               id="org.amanzi.awe.views.network.views.NetworkTreeView"
               relationship="stack"
               relative="net.refractions.udig.project.ui.layerManager"
               visible="true">
         </view>
         <viewShortcut
               id="org.amanzi.awe.views.network.views.NetworkTreeView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   
</plugin>
