<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.refractions.udig.printing.ui.templateFactories">
      <templateFactory
            class="org.amanzi.printing.ChartTemplateFactory"
            id="org.amanzi.printing.chartTemplateFactory">
      </templateFactory>
   </extension>
   <extension
         point="net.refractions.udig.printing.ui.boxprinter">
      <boxprinter
            class="org.amanzi.printing.JFreeChartBoxPrinter"
            name="Chart"
            visible="true">
      </boxprinter>
   </extension>
   <extension
         point="net.refractions.udig.printing.ui.boxprinter">
      <boxprinter
            class="org.amanzi.printing.TableBoxPrinter"
            name="Table"
            visible="true">
      </boxprinter>
   </extension>

</plugin>
