#Tue Sep 25 17:12:24 EDT 2007
autotestsuite.class.exclusions=.*FTC_.*;.*\\.refactoring\\..*
autotestsuite.trace=true
pluginbuilder.features=org.rubypeople.rdt,org.rubypeople.rdt-tests,com.aptana.rdt.mylyn_feature
pluginbuilder.server.user=rdt
pluginbuilder.is.svn=true
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=true
pluginbuilder.svn.url=https\://source.aptana.com/aptanarepo/aptana/ide_suite/trunk/rdt
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=false
