<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.refractions.udig.project.style">
      <style
            class="org.amanzi.awe.neostyle.NeoStyleContent"
            id="org.amanzi.awe.neostyle.style"
            name="NeoStyle">
      </style>
      <style
            class="org.amanzi.awe.neostyle.NetworkNeoStyleContent"
            id="org.amanzi.awe.neostyle.style.network"
            name="NeoNetworkStyle">
      </style>
   </extension>
   <extension
         point="net.refractions.udig.style.styleConfigurator">
      <styleConfigurator
            class="org.amanzi.awe.neostyle.NeoStyleConfigurator"
            id="org.amanzi.awe.neostyle.NeoStyleConfigurator"
            label="Style"
            requires="org.amanzi.neo.services.model.IDriveModel"
            styleId="org.amanzi.awe.neostyle.style">
      </styleConfigurator>
      <styleConfigurator
            class="org.amanzi.awe.neostyle.NetworkNeoStyleConfigurator"
            id="org.amanzi.awe.neostyle.NetworkNeoStyleConfigurator"
            label="NetworkStyle"
            requires="org.amanzi.neo.services.model.INetworkModel"
            styleId="org.amanzi.awe.neostyle.style.network">
      </styleConfigurator>
   </extension>

</plugin>
