<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="net.refractions.udig.project.renderer">
      <renderer
            class="org.amanzi.awe.render.network.NetworkRenderMetricsFactory"
            id="oorg.amanzi.awe.render.network.networkrenderer"
            name="Amanzi Measurment Renderer">
      </renderer>
   </extension>
   <extension
         point="net.refractions.udig.project.persister">
      <persister
            class="org.amanzi.awe.render.network.HashMapPersister">
      </persister>
   </extension>
</plugin>
