<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
      <extension
          point="org.eclipse.ui.commands">
       <category
             id="org.amanzi.neo.loader.commands.category"
             name="Amanzi Loading Commands">
       </category>
       <command
             categoryId="org.amanzi.neo.loader.commands.category"
             id="org.amanzi.neo.loader.commands.LoadNetwork"
             name="Load Network Data">
       </command>
       <command
             categoryId="org.amanzi.neo.loader.commands.category"
             id="org.amanzi.neo.loader.commands.LoadNetworkSite"
             name="Load Network Site Data">
       </command>
       <command
             categoryId="org.amanzi.neo.loader.commands.category"
             id="org.amanzi.neo.loader.commands.LoadDrive"
             name="Load Drive Data">
       </command>
       <command
             categoryId="org.amanzi.neo.loader.commands.category"
             id="org.amanzi.neo.loader.commands.Correlate"
             name="Correlate Data">
       </command>
       <command
             categoryId="org.amanzi.neo.loader.commands.category"
             id="org.amanzi.neo.loader.commands.LoadNeighbour"
             name="Load Neighbour Data">
       </command>
      <command
             categoryId="org.amanzi.neo.loader.commands.category"
             id="org.amanzi.neo.loader.commands.LoadTransmission"
             name="Load Transmission Data">
       </command>     
       <command
             categoryId="org.amanzi.neo.loader.commands.category"
             id="org.amanzi.neo.loader.commands.LoadETSI"
             name="Load ETSI Data">
       </command>   
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="org.amanzi.neo.loader.handlers.LoadNetworkHandler"
             commandId="org.amanzi.neo.loader.commands.LoadNetwork">
       </handler>
       <handler
             class="org.amanzi.neo.loader.handlers.LoadNetworkSiteHandler"
             commandId="org.amanzi.neo.loader.commands.LoadNetworkSite">
       </handler>
       <handler
             class="org.amanzi.neo.loader.handlers.LoadDriveHandler"
             commandId="org.amanzi.neo.loader.commands.LoadDrive">
       </handler>
       <handler
             class="org.amanzi.neo.loader.handlers.CorrelateHandler"
             commandId="org.amanzi.neo.loader.commands.Correlate">
       </handler>
        <handler
             class="org.amanzi.neo.loader.handlers.LoadNeighbourHandler"
             commandId="org.amanzi.neo.loader.commands.LoadNeighbour">
       </handler>
       <handler
             class="org.amanzi.neo.loader.handlers.LoadTransmissionHandler"
             commandId="org.amanzi.neo.loader.commands.LoadTransmission">
       </handler>
       <handler
             class="org.amanzi.neo.loader.handlers.LoadETSIHandler"
             commandId="org.amanzi.neo.loader.commands.LoadETSI">
       </handler>
    </extension>
   
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
          <toolbar
                id="org.amanzi.neo.loader.toolbar">
             <command
                   commandId="org.amanzi.neo.loader.commands.LoadNetwork"
            icon="icons/16/network.png"
            id="org.amanzi.neo.loader.LoadNetwork"
                   tooltip="Load Network Data">
             </command>
             <command
                   commandId="org.amanzi.neo.loader.commands.LoadNetworkSite"
            icon="icons/16/network_site.png"
            id="org.amanzi.neo.loader.LoadNetworkSite"
                   tooltip="Load Network Site Data">
             </command>
             <command
                   commandId="org.amanzi.neo.loader.commands.LoadDrive"
            icon="icons/16/drive.png"
            id="org.amanzi.neo.loader.LoadDrive"
                   tooltip="Load Drive Data">
             </command>
             <command 
             		commandId="org.amanzi.neo.loader.commands.LoadNeighbour"
            		icon="icons/16/neighbour.png"
            		id="org.amanzi.neo.loader.LoadNeighbour"
                   	tooltip="Load Neighbour Data">
             </command>
             <command 
             		commandId="org.amanzi.neo.loader.commands.LoadTransmission"
            		icon="icons/16/transmission.png"
            		id="org.amanzi.neo.loader.LoadTransmission"
                   	tooltip="Load Transmission Data">
             </command>
          </toolbar>
       </menuContribution>
    </extension>
    
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
          <toolbar
                id="org.amanzi.neo.loader.toolbar.etsi">             
             <command
                   commandId="org.amanzi.neo.loader.commands.LoadETSI"
            icon="icons/16/drive.png"
            id="org.amanzi.neo.loader.LoadETSI"
                   tooltip="Load ETSI Data">
             </command>
             <command
                   commandId="org.amanzi.neo.loader.commands.Correlate"
            icon="icons/16/transmission.png"
            id="org.amanzi.neo.loader.Correlate"
                   tooltip="Correlate Data">
             </command>
          </toolbar>
       </menuContribution>
    </extension>
   <extension
          point="org.eclipse.ui.importWizards">
       <wizard
             category="org.amanzi.load"
             class="org.amanzi.neo.wizards.NetworkImportWizard"
             icon="icons/16/network.png"
             id="org.amanzi.neo.wizards.NetworkImportWizard"
             name="Import Network data">
          <description>
             Import a network file from the local file system into the project
          </description>
       </wizard>
       <wizard  
             category="org.amanzi.load"
             class="org.amanzi.neo.wizards.NetworkSiteImportWizard"
             icon="icons/16/network.png"
             id="org.amanzi.neo.wizards.NetworkSiteImportWizard"
             name="Import Network Site data">
          <description>
 				Import a data file from the local file system into the project
          </description>
       </wizard>  
        <wizard
             category="org.amanzi.load"
             class="org.amanzi.neo.wizards.TemsImportWizard"
             icon="icons/16/drive.png"
             id="org.amanzi.neo.wizards.TemsImportWizard"
             name="Import Drive data">
          <description>
 				Import a data file from the local file system into the project
          </description>
       </wizard>
       <wizard  
             category="org.amanzi.load"
             class="org.amanzi.neo.wizards.NeighbourImportWizard"
             icon="icons/16/neighbour.png"
             id="org.amanzi.neo.wizards.NeighbourImportWizard"
             name="Import Neighbour data">
          <description>
 				Import a data file from the local file system into the project
          </description>
       </wizard>               
       <wizard  
             category="org.amanzi.load"
             class="org.amanzi.neo.wizards.TransmissionImportWizard"
             icon="icons/16/transmission.png"
             id="org.amanzi.neo.wizards.TransmissionImportWizard"
             name="Import Transmission data">
          <description>
 				Import a data file from the local file system into the project
          </description>
       </wizard>  
       <wizard  
             category="org.amanzi.load"
             class="org.amanzi.neo.wizards.ETSIImportWizard"
             icon="icons/16/neighbour.png"
             id="org.amanzi.neo.wizards.ESTIImportWizard"
             name="Import ESTI data">
          <description>
 				Import a data file from the local file system into the project
          </description>
       </wizard>               
       <category
             id="org.amanzi.load"
             name="Amanzi Data">
       </category>

    </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.amanzi.neo.preferences.DataLoadPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.amanzi.neo.preferences.DataLoadPreferencePage"
            id="org.amanzi.neo.preferences.DataLoadPreferencePage"
            name="Amanzi Data">
      </page>
                  <page
            class="org.amanzi.neo.preferences.NetworkLoaderPreferencePage"
            id="org.amanzi.neo.preferences.NetworkLoaderPreferencePage"
            name="Network data"
            category="org.amanzi.neo.preferences.DataLoadPreferencePage">
      </page>
   </extension>
   <extension
         point="net.refractions.udig.ui.newObjectAction">
      <action
            class="org.amanzi.neo.loader.actions.NewNetworkAction"
            icon="icons/16/network.png"
            id="org.amanzi.neo.loader.newNetworkAction"
            label="New network">
      </action>
      <action
            class="org.amanzi.neo.loader.actions.NewDriveAction"
            icon="icons/16/drive.png"
            id="org.amanzi.neo.loader.newDriveAction"
            label="New drive">
      </action>
      <action
            class="org.amanzi.neo.loader.actions.NewNeighbourAction"
            icon="icons/16/neighbour.png"
            id="org.amanzi.neo.loader.newNeighbour"
            label="New neighbours">
      </action>
   </extension>

</plugin>
