<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.refractions.udig.project.ui.tool">
      <actionTool
            categoryId="Neo_tool"
            class="org.amanzi.neo.loader.LoadNetwork"
            icon="icons/32/network.png"
            id="org.amanzi.neo.loader.LoadNetwork"
            onToolbar="true"
            tooltip="Load Network Data">
         <enablement></enablement>
      </actionTool>
      <actionTool
            categoryId="Neo_tool"
            class="org.amanzi.neo.loader.LoadTEMS"
            icon="icons/32/file.png"
            id="org.amanzi.neo.loader.LoadTEMS"
            onToolbar="true"
            tooltip="Load TEMS Data">
         <enablement></enablement>
      </actionTool>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.amanzi.neo.loader.preferences.NeoPreferencesInitializer">
      </initializer>
   </extension>

</plugin>
