<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
      <extension
          point="org.eclipse.ui.commands">
       <category
             id="org.amanzi.neo.loader.commands.category"
             name="Amanzi Loading Commands">
       </category>
       <command
             categoryId="org.amanzi.neo.loader.commands.category"
             id="org.amanzi.neo.loader.commands.LoadDrive"
             name="Load Drive Data">
                       <commandParameter id="org.amanzi.neo.loader.commands.addtoselect" name="add to select" optional="true">
        </commandParameter>
        <commandParameter id="org.amanzi.neo.loader.commands.loadfromurl" name="load from url" optional="true">
        </commandParameter>
       </command>       
       <command
             categoryId="org.amanzi.neo.loader.commands.category"
             id="org.amanzi.neo.loader.commands.LoadGPEHHandler"
             name="Load OSS Data">
                       <commandParameter id="org.amanzi.neo.loader.commands.addtoselect" name="add to select" optional="true">
        </commandParameter>
       </command>   
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="org.amanzi.neo.loader.handlers.LoadDriveHandler"
             commandId="org.amanzi.neo.loader.commands.LoadDrive">
       </handler>
    </extension>
   
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
          <toolbar
                id="org.amanzi.neo.loader.toolbar">
             
             <command
                   commandId="org.amanzi.neo.loader.commands.LoadDrive"
            icon="icons/16/calls.png"
            id="org.amanzi.neo.loader.LoadDrive"
                   tooltip="Load Geoptima Data">
                   <parameter name="org.amanzi.neo.loader.commands.loadfromurl" value="true"></parameter>
             </command>
          </toolbar>
       </menuContribution>
    </extension>
    
    <extension
          point="org.eclipse.ui.importWizards">
       <wizard  
             category="org.amanzi.load"
             class="org.amanzi.neo.wizards.NetworkSiteImportWizard"
             icon="icons/16/network.png"
             id="org.amanzi.neo.wizards.NetworkSiteImportWizard"
             name="Import Network Site data">
          <description>
 				Import one or more drive data log files into the project database
          </description>
       </wizard>  
        <wizard
             category="org.amanzi.load"
             class="org.amanzi.neo.wizards.TemsImportWizard"
             icon="icons/16/drive.png"
             id="org.amanzi.neo.wizards.TemsImportWizard"
             name="Import Drive data">
          <description>
 				Import one or more drive data log files into the project database
          </description>
       </wizard>
        
    </extension>
   <extension
         point="net.refractions.udig.ui.newObjectAction">
      <action
            class="org.amanzi.neo.loader.actions.NewNetworkAction"
            icon="icons/16/network.png"
            id="org.amanzi.neo.loader.newNetworkAction"
            label="New network">
      </action>
      <action
            class="org.amanzi.neo.loader.actions.NewDriveAction"
            icon="icons/16/drive.png"
            id="org.amanzi.neo.loader.newDriveAction"
            label="New drive">
      </action>
      <action
            class="org.amanzi.neo.loader.actions.NewNeighbourAction"
            icon="icons/16/neighbour.png"
            id="org.amanzi.neo.loader.newNeighbour"
            label="New neighbours">
      </action>
      <action
            class="org.amanzi.neo.loader.actions.CreateNetworkAction"
            icon="icons/16/network.png"
            id="org.amanzi.neo.loader.actions.CreateNetworkAction"
            label="Create new network">
      </action>
   </extension>
   
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.amanzi.awe.views.network.view.NewTypeAction0"
            targetID="org.amanzi.awe.views.network.views.NetworkTreeView">
         <action
               class="org.amanzi.neo.loader.actions.CreateNetworkAction"
               icon="icons/16/network.png"
               id="org.amanzi.neo.loader.actions.CreateNetworkAction"
               label="createNetwork"
               style="push"
               toolbarPath="additions"
               tooltip="Create New Network">
         </action>
      </viewContribution>
   </extension>

</plugin>
