<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Network Tree"
            icon="icons/network.png"
            category="org.amanzi.awe.views"
            class="org.amanzi.awe.network.ui.view.NetworkTreeView"
            id="org.amanzi.trees.NetworkTree">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.amanzi.awe.perspective">
         <view
               id="org.amanzi.trees.NetworkTree"
               relationship="stack"
               relative="net.refractions.udig.project.ui.layerManager"
               visible="true">
         </view>
         <viewShortcut
               id="org.amanzi.trees.NetworkTree">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.amanzi.tree.factories">
      <wrapper-factory
            class="org.amanzi.awe.network.ui.wrapper.NetworkTreeWrapperFactory">
         <tree_id
               refId="org.amanzi.trees.NetworkTree">
         </tree_id>
         <tree_id
               refId="org.amanzi.trees.ProjectExplorer">
         </tree_id>
      </wrapper-factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.amanzi.awe.network.ui.preferences.NetworkLabelsInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.amanzi.trees.labels"
            class="org.amanzi.awe.network.ui.preferences.NetworkLabelsPreferencePage"
            id="org.amanzi.trees.labels.network"
            name="Network Tree Labels">
      </page>
   </extension>
   
</plugin>
