<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.amanzi.awe.script"
            class="org.amanzi.awe.statistics.view.StatisticsView"
            icon="icons/call_analyser.png"
            id="org.amanzi.awe.statistics.view.StatisticsTableView"
            name="Statistics View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.amanzi.awe.perspective">
         <view
               id="org.amanzi.awe.statistics.view.StatisticsTableView"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView">
         </view>
         <viewShortcut
               id="net.refractions.udig.catalog.ui.CatalogView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
