<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="org.amanzi.awe.script"
            id="org.amanzi.awe.neighbours.NeighbourAnalyser">
      </category>
      <view
            name="NeighbourAnalyser"
            icon="icons/sample.gif"
            category="org.amanzi.awe.neighbours.NeighbourAnalyser"
            class="org.amanzi.awe.neighbours.views.NeighbourAnalyser"
            id="org.amanzi.awe.neighbours.views.NeighbourAnalyser">
      </view>
   </extension>
   <extension
          point="org.eclipse.ui.commands">
       <category
             id="org.amanzi.awe.neighbours.commands.category"
             name="Amanzi Neighbours Commands">
       </category>
       <command
             categoryId="org.amanzi.awe.neighbours.commands.category"
             id="org.amanzi.awe.neighbours.commands.gpeh_report"
             name="Generate GPEH reports">
       </command>
       <command
             categoryId="org.amanzi.awe.neighbours.commands.category"
             id="org.amanzi.awe.neighbours.commands.gpeh_report_wizard"
             name="Generate GPEH reports">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="org.amanzi.awe.neighbours.GenerateReportHandler"
             commandId="org.amanzi.awe.neighbours.commands.gpeh_report">
       </handler>
       <handler
             class="org.amanzi.awe.neighbours.GPEHReportHandler"
             commandId="org.amanzi.awe.neighbours.commands.gpeh_report_wizard">
       </handler>
    </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.amanzi.awe.report.toolbar1">
            <command
                  commandId="org.amanzi.awe.neighbours.commands.gpeh_report"
                  id="org.amanzi.awe.neighbours.commands.gpeh_report"
                  label="GPEH Report">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.amanzi.awe.report.toolbar1">
            <command
                  commandId="org.amanzi.awe.neighbours.commands.gpeh_report_wizard"
                  id="org.amanzi.awe.neighbours.commands.gpeh_report_wizard"
                  label="GPEH Report wizard">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
