<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.amanzi.awe.ui.operation.shape_export.operations"
         name="Shapefile Export Operations"
         point="net.refractions.udig.ui.operation">
      <category
            description="Additional operations for exporting shapefiles"
            id="org.amanzi.awe.ui.operation.shape_export.category"
            name="Shapefile Export Operations">
      </category>
      <operation
            categoryId="org.amanzi.awe.ui.operation.shape_export.category"
            class="org.amanzi.awe.ui.operation.shape_export.ShapeExportOp"
            id="org.amanzi.awe.ui.operation.shape_export.operation"
            name="Export to shapefile"
            targetClass="org.geotools.data.FeatureSource">
      </operation>
   </extension>

</plugin>
