<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Neighbours"
            icon="icons/neighbour.png"
            category="org.amanzi.awe.script"
            class="org.amanzi.awe.views.neighbours.views.NeighboursView"
            id="org.amanzi.awe.views.neighbours.views.NeighboursView">
      </view>
      <view
            category="org.amanzi.awe.script"
            class="org.amanzi.awe.views.neighbours.views.Node2NodeViews"
            icon="icons/neighbour.png"
            id="org.amanzi.awe.views.neighbours.views.Node2NodeViews"
            name="Relations">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Transmission"
            icon="icons/transmission.png"
            category="org.amanzi.awe.script"
            class="org.amanzi.awe.views.neighbours.views.TransmissionView"
            id="org.amanzi.awe.views.neighbours.views.TransmissionView">
      </view>
   </extension>   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.amanzi.awe.perspective">
         <view
               id="org.amanzi.awe.views.neighbours.views.Node2NodeViews"
               minimized="false"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               visible="true">
         </view>
         <viewShortcut
               id="org.amanzi.awe.views.neighbours.views.Node2NodeViews">
         </viewShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
