<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.amanzi.awe.views.statistics.StatisticsView"
            id="org.amanzi.awe.StatisticsView"
            name="Statistics View"
            restorable="true">
      </view>
   </extension>

</plugin>
