<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="net.refractions.udig.project.ui.tool">
      <modalTool
			categoryId="StarTool"
            class="org.amanzi.awe.tool.star.StarTool"
            icon="icons/star_32.png"
            id="org.amanzi.awe.tool.star.StarTool"
            name="Star Tool"
            onToolbar="true"
            tooltip="Star mode for selecting network elements to analyse">
      </modalTool>

      <category  id="StarTool"  name="Star Tool"/>
   </extension>
</plugin>
