<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.amanzi.neo.geoptima.core.ui.preferencepage.FtpCredentialsPreferencePage"
            id="org.amanzi.geoptima.ftp.preferences"
            name="Ftp server acess settings ">
      </page>
   </extension>
<extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.amanzi.neo.geoptima.core.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
