<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Call Analyser"
            icon="icons/call_analyser.png"
            category="org.amanzi.awe.script"
            class="org.amanzi.awe.views.calls.views.CallAnalyserView"
            id="org.amanzi.awe.views.calls.views.CallAnalyserView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.amanzi.awe.perspective">
         <view
               id="org.amanzi.awe.views.calls.views.CallAnalyserView"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               visible="true">
         </view>
         <viewShortcut
               id="org.amanzi.awe.views.calls.views.CallAnalyserView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
 </plugin>
