<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.amanzi.awe.wizards.KPIReportCommand"
            name="KPI Report">
      </command>
      <command
      		id="org.amanzi.awe.wizards.Correlation"
      		
      		name="GEOptimA">
      </command>
      <command id="org.amanzi.awe.wizards.geoptima.select"
      		 name="Select Data Source">
      </command>
      <command id="org.amanzi.awe.wizards.geoptima.load"
      		 name="Load Data Source">
      </command>
      <command id="org.amanzi.awe.wizards.geoptima.correlate"
      		 name="Correlate Data Sources">
      </command>
      <command id="org.amanzi.awe.wizards.geoptima.export"
      		 name="Export to otherApplication">
      </command>
      <command id="org.amanzi.awe.wizards.geoptima.replay"
      		 name="Replay Subscriber Locations">
      </command>
      <command id="org.amanzi.awe.wizards.geoptima.reports"
      		 name="Reports">
      </command>
      <command id="org.amanzi.awe.wizards.geoptima.visualise"
      		 name="Visualise">
      </command>
      <command
            id="org.amanzi.awe.wizards.NetViewCommand"
            name="Net View">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.amanzi.awe.wizards.kpi.report.KPIReportHandler"
            commandId="org.amanzi.awe.wizards.KPIReportCommand">
      </handler>
      <handler
      		class="org.amanzi.awe.wizards.geoptima.GeoptimaHandler"
      		commandId="org.amanzi.awe.wizards.Correlation">
      </handler>
      <handler
      		class="org.amanzi.awe.wizards.geoptima.SelectDataSourceHandler"
      		commandId="org.amanzi.awe.wizards.geoptima.select">
      </handler>
      <handler
      		class="org.amanzi.awe.wizards.geoptima.GeoptimaHandler"
      		commandId="org.amanzi.awe.wizards.geoptima.load">
      </handler>
      <handler
      		class="org.amanzi.awe.wizards.geoptima.GeoptimaHandler"
      		commandId="org.amanzi.awe.wizards.geoptima.correlate">
      </handler>
      <handler
      		class="org.amanzi.awe.wizards.geoptima.GeoptimaHandler"
      		commandId="org.amanzi.awe.wizards.geoptima.export">
      </handler>
      <handler
      		class="org.amanzi.awe.wizards.geoptima.GeoptimaHandler"
      		commandId="org.amanzi.awe.wizards.geoptima.replay">
      </handler>
      <handler
      		class="org.amanzi.awe.wizards.geoptima.GeoptimaHandler"
      		commandId="org.amanzi.awe.wizards.geoptima.reports">
      </handler>
      <handler
      		class="org.amanzi.awe.wizards.geoptima.GeoptimaHandler"
      		commandId="org.amanzi.awe.wizards.geoptima.visualise">
      </handler>
      <handler
            class="org.amanzi.awe.wizards.netview.NetViewHandler"
            commandId="org.amanzi.awe.wizards.NetViewCommand">
      </handler>
      		
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.amanzi.awe.report.toolbar1">
            <command
                  commandId="org.amanzi.awe.wizards.KPIReportCommand"
                  id="org.amanzi.awe.wizards.KPIReportCommand"
                  label="KPI Report"
                  mnemonic="KPI Report">
            </command>
            <command
            	  commandId="org.amanzi.awe.wizards.Correlation"
            	  id="org.amanzi.awe.wizards.Correlation"
            	  style="pulldown" 
            	  label="GEOptimA"
            	  mnemonic="GEOptimA">
            	  
            </command>


            <command
                  commandId="org.amanzi.awe.wizards.NetViewCommand"
                  id="org.amanzi.awe.wizards.NetViewCommand"
                  label="Net View"
                  mnemonic="Net View">
            </command>
         </toolbar>
      </menuContribution>
           <menuContribution locationURI="menu:org.amanzi.awe.wizards.Correlation">
      <command
       		commandId="org.amanzi.awe.wizards.geoptima.select"
      		id="org.amanzi.awe.wizards.geoptima.select"
      		 icon="icons/16/select_data.png">
      </command>
      <command
       		commandId="org.amanzi.awe.wizards.geoptima.load"
      		 icon="icons/16/load_data.png">
      </command>
      <command
       		commandId="org.amanzi.awe.wizards.geoptima.correlate"
      		 icon="icons/16/correlate.png">
      </command>
      <command
       		commandId="org.amanzi.awe.wizards.geoptima.export"
      		 icon="icons/16/export.png">
      </command>
      <command
       		commandId="org.amanzi.awe.wizards.geoptima.replay"
      		 icon="icons/16/replay.png">
      </command>
      <command
       		commandId="org.amanzi.awe.wizards.geoptima.reports"
      		 icon="icons/16/reports.png">
      </command>
      <command
       		commandId="org.amanzi.awe.wizards.geoptima.visualise"
      		 icon="icons/16/visualise.png">
      </command>
     </menuContribution>
      
   </extension>

</plugin>
