<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.amanzi.awe.wizards.gpehreport.GPEHReportCommand"
            name="KPI Report">
      </command>
      <command
            id="org.amanzi.awe.wizards.KPIReportCommand"
            name="KPI Report">
      </command>
      <command
      		id="org.amanzi.awe.wizards.Correlation"
      		name="GEOptimA">
      </command>
      <command id="org.amanzi.awe.wizards.geoptima.select"
      		 name="Select Data Source">
      </command>
      <command id="org.amanzi.awe.wizards.geoptima.load"
      		 name="Load Data Source">
      </command>
      <command id="org.amanzi.awe.wizards.geoptima.correlate"
      		 name="Correlate Data Sources">
      </command>
      <command id="org.amanzi.awe.wizards.geoptima.export"
      		 name="Export to otherApplication">
      </command>
      <command id="org.amanzi.awe.wizards.geoptima.replay"
      		 name="Replay Subscriber Locations">
      </command>
      <command id="org.amanzi.awe.wizards.geoptima.reports"
      		 name="Reports">
      </command>
      <command id="org.amanzi.awe.wizards.geoptima.visualise"
      		 name="Visualise">
          <commandParameter id="nodeId" name="node id" optional="true">
        </commandParameter>
      </command>
      <command
            id="org.amanzi.awe.wizards.NetViewCommand"
            name="Net View">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
         <handler
            class="org.amanzi.awe.wizards.gpehreport.GPEHReportHandler"
            commandId="org.amanzi.awe.wizards.gpehreport.GPEHReportCommand">
      </handler>
      <handler
            class="org.amanzi.awe.wizards.kpi.report.KPIReportHandler"
            commandId="org.amanzi.awe.wizards.KPIReportCommand">
      </handler>
      <handler
      		class="org.amanzi.awe.wizards.geoptima.GeoptimaHandler"
      		commandId="org.amanzi.awe.wizards.Correlation">
      </handler>
      <handler
      		class="org.amanzi.awe.wizards.geoptima.SelectDataSourceHandler"
      		commandId="org.amanzi.awe.wizards.geoptima.select">
      </handler>
      <handler
      		class="org.amanzi.awe.wizards.geoptima.GeoptimaHandler"
      		commandId="org.amanzi.awe.wizards.geoptima.load">
      </handler>
      <handler
      		class="org.amanzi.awe.wizards.geoptima.CorrelateHandler"
      		commandId="org.amanzi.awe.wizards.geoptima.correlate">
      </handler>
      <handler
      		class="org.amanzi.awe.wizards.geoptima.ExportHandler"
      		commandId="org.amanzi.awe.wizards.geoptima.export">
      </handler>
      <handler
      		class="org.amanzi.awe.wizards.geoptima.ReplayHandler"
      		commandId="org.amanzi.awe.wizards.geoptima.replay">
      </handler>
      <handler
      		class="org.amanzi.awe.wizards.geoptima.ReportHandler"
      		commandId="org.amanzi.awe.wizards.geoptima.reports">
      </handler>
      <handler
      		class="org.amanzi.awe.wizards.geoptima.VisualiseHandler"
      		commandId="org.amanzi.awe.wizards.geoptima.visualise">
      </handler>
      <handler
            class="org.amanzi.awe.wizards.netview.NetViewHandler"
            commandId="org.amanzi.awe.wizards.NetViewCommand">
      </handler>
      		
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.amanzi.awe.report.toolbar1">
            <command
                  commandId="org.amanzi.awe.wizards.gpehreport.GPEHReportCommand"
                  id="org.amanzi.awe.wizards.gpehreport.GPEHReportCommand"
                  label="GPEH report wiz">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.amanzi.awe.report.toolbar1">
            <command
                  commandId="org.amanzi.awe.wizards.KPIReportCommand"
                  id="org.amanzi.awe.wizards.KPIReportCommand"
                  label="KPI Report"
                  mnemonic="KPI Report">
            </command>
            <command
            	  commandId="org.amanzi.awe.wizards.Correlation"
            	  id="org.amanzi.awe.wizards.Correlation"
            	  style="pulldown" 
            	  label="GEOptimA"
            	  mnemonic="GEOptimA">
            	  
            </command>


            <command
                  commandId="org.amanzi.awe.wizards.NetViewCommand"
                  id="org.amanzi.awe.wizards.NetViewCommand"
                  label="Net View"
                  mnemonic="Net View">
            </command>
         </toolbar>
      </menuContribution>
           <menuContribution locationURI="menu:org.amanzi.awe.wizards.Correlation">

      <command
       		commandId="org.amanzi.awe.wizards.geoptima.select"
      		id="org.amanzi.awe.wizards.geoptima.select"
      		      		  style="push"
      		 icon="icons/16/select_data.png">

      </command>
     	<menu id="org.amanzi.awe.wizards.geoptima.load2"
                label="Load Data Source"
                style="push"
                icon="icons/16/load_data.png"
                mnemonic="Load Data Source">
        </menu>
      

      <command
       		commandId="org.amanzi.awe.wizards.geoptima.correlate"
       		 style="push"
      		 icon="icons/16/correlate.png">

      </command>
      <command
       		commandId="org.amanzi.awe.wizards.geoptima.export"
       		 style="push"
      		 icon="icons/16/export.png">

      </command>
      <command
       		commandId="org.amanzi.awe.wizards.geoptima.replay"
       		 style="push"
      		 icon="icons/16/replay.png">
      		 
      </command>
      <command
       		commandId="org.amanzi.awe.wizards.geoptima.reports"
      		 icon="icons/16/reports.png">
      </command>
<menu id="org.amanzi.awe.wizards.geoptima.visualiseMenu"
    label="Visualise"
    mnemonic="Visualise menu">
  <dynamic class="org.amanzi.awe.wizards.geoptima.VisualiseMenuHandler"
      id="org.amanzi.awe.wizards.geoptima.VisualiseMenuHandler"/>
</menu>
     </menuContribution>
     <menuContribution locationURI="menu:org.amanzi.awe.wizards.geoptima.load2">
             <command
                   commandId="org.amanzi.neo.loader.commands.LoadNetworkSite"
            icon="icons/16/network_site.png"
            id="org.amanzi.neo.loader.LoadNetworkSite.level2"
             style="push"
                   tooltip="Load Network Data"
                   label="Load Network Data"
                   mnemonic="Load Network Data">
           <parameter name="org.amanzi.neo.loader.commands.addtoselect" value="true">
           </parameter>
             </command>
             <command
                   commandId="org.amanzi.neo.loader.commands.LoadGPEHHandler"
            icon="icons/16/delta_network.png"
            id="org.amanzi.neo.loader.LoadGPEH.level2"
             style="push"
                   tooltip="Load OSS Data">
                        <parameter name="org.amanzi.neo.loader.commands.addtoselect" value="true">
           </parameter>
             </command>
             <command
                   commandId="org.amanzi.neo.loader.commands.LoadDrive"
            icon="icons/16/drive.png"
            id="org.amanzi.neo.loader.LoadDrive.level2"
             style="push"
                   tooltip="Load Drive Data">
             <parameter name="org.amanzi.neo.loader.commands.addtoselect" value="true">
           </parameter>
             </command>
             
     </menuContribution>
      
   </extension>
   <extension
         point="net.refractions.udig.mapgraphic.mapgraphic">
      <mapGraphic
            class="org.amanzi.awe.wizards.geoptima.VisualiseLayer"
            icon="icons/16/replay.png"
            id="org.amanzi.awe.wizards.geoptima.VisualiseLayer"
            name="Replay by time">
      </mapGraphic>
   </extension>
   <extension
         point="net.refractions.udig.project.mapInterceptor">
      <mapClosing
            class="org.amanzi.awe.wizards.geoptima.VisualiseLayer"
            id="org.amanzi.awe.wizards.mapClosing1"
            name="Map Close Interceptor">
      </mapClosing>
   </extension>

</plugin>
