<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.refractions.udig.project.renderer">
      <renderer
            class="org.amanzi.awe.render.sites.SitesRenderMetricsFactory"
            id="org.amanzi.awe.render.sites.sitesRenderer"
            name="Amanzi Sites Renderer">
      </renderer>
   </extension>

</plugin>
