<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.amanzi.awe.Application">
         </run>
      </application>
   </extension>
   <extension point="org.eclipse.ui.perspectives">
      <perspective
            class="org.amanzi.awe.PerspectiveFactory"
            icon="icons/obj16/awe_icon_16.png"
            id="org.amanzi.awe.perspective"
            name="Amanzi Wireless Explorer">
      </perspective>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.amanzi.awe.perspective">
         <actionSet id="net.refractions.udig.project.ui.LayerActions"/>
         <actionSet id="net.refractions.udig.project.ui.layer.menu"/>
         <actionSet id="net.refractions.udig.project.ui.map.menu"/>
         <actionSet id="net.refractions.udig.project.ui.data.menu"/>
         <view
               closeable="true"
               standalone="true"
               moveable="true"
               visible="true"
               showTitle="true"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               relationship="stack"
               id="net.refractions.udig.catalog.ui.CatalogView">
         </view>
         <view
               id="org.neo4j.neoclipse.view.NeoGraphViewPart"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               visible="true">
         </view>
         <view
               id="net.refractions.udig.tool.select.TableView"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               visible="true">
         </view>
		 <view
               closeable="true"
               standalone="true"
               moveable="true"
               visible="true"
               showTitle="true"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               relationship="stack"
               id="net.refractions.udig.catalog.ui.Search">
         </view>
         <view
               id="net.refractions.udig.browser.ui.browserContainerView"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               visible="true">
         </view>
         <view
               id="org.tcat.citd.sim.udig.bookmarks.internal.ui.BookmarksView"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               visible="true">
         </view>
         <view
         	   id="org.eclipse.ui.console.ConsoleView"
         	   relationship="stack"
         	   relative="net.refractions.udig.catalog.ui.CatalogView"
         	   visible="true">
         </view>
         <view
	           id="org.eclipse.ui.views.PropertySheet"
         	   relationship="stack"
         	   relative="net.refractions.udig.catalog.ui.CatalogView"
         	   visible="true">
	     </view>
         <viewShortcut id="org.neo4j.neoclipse.view.NeoGraphViewPart"/>
         <viewShortcut id="org.eclipse.ui.console.ConsoleView"/>
         <viewShortcut id="net.refractions.udig.catalog.ui.CatalogView"/>
         <viewShortcut id="net.refractions.udig.tool.select.TableView"/>
         <viewShortcut id="net.refractions.udig.catalog.ui.Search"/>
         <viewShortcut id="net.refractions.udig.browser.ui.browserContainerView"/>
         <viewShortcut id="org.tcat.citd.sim.udig.bookmarks.internal.ui.BookmarksView"/>
         <newWizardShortcut
               id="org.amanzi.splash.wizards.SplashNewSpreadsheetWizard">
         </newWizardShortcut>      
         <perspectiveShortcut id="org.amanzi.awe.perspective"/>
         <perspectiveShortcut id="org.neo4j.neoclipse.NeoPerspective"/>
         
         <newWizardShortcut id="org.rubypeople.rdt.ui.wizards.RubyProjectWizard"/>
         <newWizardShortcut id="org.rubypeople.rdt.ui.wizards.RubyNewClassWizard"/>
         <newWizardShortcut id="org.rubypeople.rdt.ui.wizards.RubyNewFileWizard"/>                  
	     <viewShortcut id="org.rubypeople.rdt.ui.RubyExplorer"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="net.refractions.udig.ui.mapPerspective">
         <perspectiveShortcut id="org.amanzi.awe.perspective"/>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.neo4j.neoclipse.NeoPerspective">
         <perspectiveShortcut
               id="org.amanzi.awe.perspective">
         </perspectiveShortcut>
         <viewShortcut
               id="org.amanzi.awe.script.jirb.RubyConsole">
         </viewShortcut>
         <view
               id="org.amanzi.awe.script.jirb.RubyConsole"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.amanzi.awe.id1"
            description="Data management for mobile radio network planning and optimization"
            name="Amanzi Wireless Explorer">
         <property
               name="appName"
               value="Amanzi Wireless Explorer">
         </property>
         <property
               name="aboutImage"
               value="nl/en/about.gif">
         </property>
         <property
               name="aboutText"
               value="Amanzi Wireless Explorer&#x0A;&#x0A;This is an open source platform for data management, planning and optimization&#x0A;in cellular radio networks. It is distributed for free and without warranty. It is based&#x0A;on software written by AmanziTel AB, Refractions Research, Neotechnology, the&#x0A;Eclipse Foundation and others.&#x0A;&#x0A;Please refer to the http://awe.amanzi.org/license.html for complete licensing&#x0A;information.&#x0A;&#x0A;For more information and support visit http://www.amanzitel.com/page/AWE">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="7,230,445,16">
         </property>
         <property
               name="startupProgressRect"
               value="0,312,500,18">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="icons/awe_icon_16.gif,icons/awe_icon_32.gif,icons/awe_icon_48.gif,icons/awe_icon_64.gif,icons/awe_icon_128.gif">
         </property>
      </product>
   </extension>

</plugin>
