<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.amanzi.awe.views.distribution.DistributionView"
            icon="icons/distribution.png"
            id="org.amanzi.views.distribution"
            name="Distribution Analyzer View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.amanzi.awe.perspective">
         <view
               id="org.amanzi.views.distribution"
               minimized="false"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView">
         </view>
         <viewShortcut
               id="org.amanzi.views.distribution">
         </viewShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
