<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.amanzi.awe.views"
            class="org.amanzi.awe.views.drive.view.DriveTreeView"
            icon="icons/drive.png"
            id="org.amanzi.awe.views.drive.DriveTreeView"
            name="Drive Tree">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.amanzi.awe.perspective">
         <view
               closeable="true"
               id="org.amanzi.awe.views.drive.DriveTreeView"
               relationship="stack"
               relative="net.refractions.udig.project.ui.layerManager"
               visible="true">
         </view>
         <viewShortcut
               id="org.amanzi.awe.views.drive.DriveTreeView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   
</plugin>
