<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Drive"
            icon="icons/drive.png"
            category="org.amanzi.awe.script"
            class="org.amanzi.awe.views.drive.views.NewDriveInquirerView"
            id="org.amanzi.awe.views.drive.views.NewDriveInquirerView">
      </view>
   </extension>
      <extension
         point="org.eclipse.ui.views">
      <view
            name="Correlation"
            icon="icons/drive.png"
            category="org.amanzi.awe.script"
            class="org.amanzi.awe.views.drive.views.CorrelationManager"
            id="org.amanzi.awe.views.drive.views.CorrelationManager">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Correlation List"
            icon="icons/drive.png"
            category="org.amanzi.awe.script"
            class="org.amanzi.awe.views.drive.views.CorrelationList"
            id="org.amanzi.awe.views.drive.views.CorrelationList">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.amanzi.awe.perspective">
         <view
               id="org.amanzi.awe.views.drive.views.NewDriveInquirerView"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               visible="true">
         </view>
         <viewShortcut
               id="org.amanzi.awe.views.drive.views.NewDriveInquirerView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
      <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.amanzi.awe.perspective">
         <view
               id="org.amanzi.awe.views.drive.views.CorrelationManager"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               visible="true">
         </view>
         <viewShortcut
               id="org.amanzi.awe.views.drive.views.CorrelationManager">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
     <extension   point="org.eclipse.ui.preferencePages">
       <page
            class="org.amanzi.awe.views.drive.preferences.PropertyListPreferences"
            id="org.amanzi.awe.views.drive.preferences.PropertyListPreferences"
            name="Common Properties"
            category="org.amanzi.neo.preferences.DataLoadPreferencePage">
      </page>

   </extension>
   <extension   point="org.eclipse.ui.preferencePages">
       <page
            class="org.amanzi.awe.views.drive.preferences.PropertyFilterPage"
            id="org.amanzi.awe.views.drive.preferences.PropertyFilterPage"
            name="Filter properties"
            category="org.amanzi.neo.preferences.DataLoadPreferencePage">
      </page>

   </extension>
   
      <extension   point="org.eclipse.ui.preferencePages">
       <page
            class="org.amanzi.awe.views.drive.preferences.RemoteServerUrlPage"
            id="org.amanzi.awe.views.drive.preferences.RemoteServerUrlPage"
            name="Remote server URL"
            category="org.amanzi.neo.preferences.DataLoadPreferencePage">
      </page>

   </extension>
</plugin>
