<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any">
            <command
                  commandId="org.amanzi.awe.nem.ui.delete"
                  label="Delete"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate>
                     <instanceof
                           value="org.amanzi.awe.ui.dto.IUIItem">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
            <menu
                  id="org.amanzi.awe.nem.createnew"
                  label="Create">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <test
                           property="org.amanzi.awe.nem.ui.isAddetable">
                     </test>
                  </with>
               </visibleWhen>
               <dynamic
                     class="org.amanzi.awe.nem.ui.contributions.CreateNetworkElementContribution"
                     id="org.amanzi.awe.nem.ui.contributions.creationContribution">
               </dynamic>
            </menu>
            <dynamic
                  class="org.amanzi.awe.nem.ui.contributions.CopyNetworkElementContribution"
                  id="org.amanzi.awe.nem.ui.contributions.copy">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <test
                           property="org.amanzi.awe.nem.ui.isCopyable">
                     </test>
                  </with>
               </visibleWhen>
            </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.amanzi.awe.views.network.views.NetworkTreeView">
         <command
               commandId="org.amanzi.awe.nem.ui.createNetwork"
               icon="icons/network.png"
               style="push"
               tooltip="Create new Network">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.amanzi.awe.nem.ui.delete"
            name="Delete">
      </command>
      <command
            id="org.amanzi.awe.nem.ui.createItem"
            name="CITY">
      </command>
      <command
            id="org.amanzi.awe.nem.ui.createItem"
            name="MSC">
      </command>
      <command
            id="org.amanzi.awe.nem.ui.createItem"
            name="SITE">
      </command>
      <command
            id="org.amanzi.awe.nem.ui.createItem"
            name="SECTOR">
      </command>
      <command
            id="org.amanzi.awe.nem.ui.createItem"
            name="BSC">
      </command>
      <command
            id="org.amanzi.awe.nem.ui.createNetwork"
            name="Create new Network">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.amanzi.awe.nem.ui.handlers.DeleteNetworkHandler"
            commandId="org.amanzi.awe.nem.ui.delete">
         <activeWhen>
            <with
                  variable="activeMenuSelection">
               <test
                    forcePluginActivation="true"
                    property="org.amanzi.awe.nem.ui.isDeletable">
               </test>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.amanzi.awe.nem.ui.handlers.CreateNetworkHandler"
            commandId="org.amanzi.awe.nem.ui.createNetwork">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.amanzi.awe.nem.ui.testers.NEMTester"
            id="org.amanzi.awe.nem.ui.deletabletester"
            namespace="org.amanzi.awe.nem.ui"
            properties="isDeletable,isAddetable,isCopyable"
            type="org.eclipse.jface.viewers.IStructuredSelection">
      </propertyTester>
   </extension>

</plugin>
