<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.amanzi.awe.statistics.ui.view.StatisticsView"
            icon="icons/statistics_view.png"
            id="org.amanzi.awe.StatisticsView"
            name="Statistics View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.amanzi.awe.perspective">
         <view
               closeable="true"
               id="org.amanzi.awe.StatisticsView"
               minimized="false"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               showTitle="true"
               visible="true">
         </view>
         <viewShortcut
               id="org.amanzi.views.distribution">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.amanzi.tree.factories">
      <wrapper-factory
            class="org.amanzi.awe.statistics.ui.wrapper.StatisticsWrapperFactory">
         <tree_id
               refId="org.amanzi.trees.AnalyzisTree">
         </tree_id>
         <tree_id
               refId="org.amanzi.trees.ProjectExplorer">
         </tree_id>
      </wrapper-factory>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.amanzi.trees.AnalyzisTree">
         <menu
               id="org.amanzi.statistics.dimension"
               label="Statistics Dimension">
            <command
                  commandId="org.amanzi.statistics.ChangeDimension"
                  label="Time"
                  style="radio">
               <parameter
                     name="org.amanzi.statistics.dimension"
                     value="time">
               </parameter>
            </command>
            <command
                  commandId="org.amanzi.statistics.ChangeDimension"
                  label="Property"
                  style="radio">
               <parameter
                     name="org.amanzi.statistics.dimension"
                     value="property">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.amanzi.statistics.ChangeDimension"
            name="Change Dimension">
         <commandParameter
               id="org.amanzi.statistics.dimension"
               name="Dimension Type"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.amanzi.awe.statistics.ui.handlers.ChangeDimensionHandler"
            commandId="org.amanzi.statistics.ChangeDimension">
      </handler>
   </extension>

</plugin>
