<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.amanzi.awe.views.statistics.StatisticsView"
            icon="icons/statistics_view.png"
            id="org.amanzi.awe.StatisticsView"
            name="Statistics View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.amanzi.awe.perspective">
         <view
               closeable="true"
               id="org.amanzi.awe.StatisticsView"
               minimized="false"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               showTitle="true"
               visible="true">
         </view>
         <viewShortcut
               id="org.amanzi.views.distribution">
         </viewShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
