<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.amanzi.loader.core.newparser" name="Extension for new Parsers" schema="schema/org.amanzi.loader.core.newparser.exsd"/>
   <extension-point id="org.amanzi.loader.core.newsaver" name="Extension for new Saver" schema="schema/org.amanzi.loader.core.newsaver.exsd"/>
   
    <extension
         point="org.amanzi.loader.core.newparser">
      <newparser
            class="org.amanzi.neo.loader.core.newparser.CommonCSVParser"
            id="org.amanzi.neo.loader.core.newparser.CommonCSVParser">
      </newparser>
   </extension>
   <!-- new savers config -->
   <extension
         point="org.amanzi.loader.core.newsaver">
      <newsaver
            class="org.amanzi.neo.loader.core.newsaver.NetworkSaver"
            id="org.amanzi.neo.loader.core.newsaver.NetworkSaver">
      </newsaver>
       
      <newsaver
            class="org.amanzi.neo.loader.core.newsaver.SectorSelectionSaver"
            id="org.amanzi.neo.loader.core.newsaver.SectorSelectionSaver">
      </newsaver>
       
      <newsaver
            class="org.amanzi.neo.loader.core.newsaver.NeighborsSaver"
            id="org.amanzi.neo.loader.core.newsaver.NeighboursSaver">
      </newsaver>
      
      <newsaver
            class="org.amanzi.neo.loader.core.newsaver.TemsSaver"
            id="org.amanzi.neo.loader.core.newsaver.TemsSaver">
      </newsaver>
      
      <newsaver
            class="org.amanzi.neo.loader.core.newsaver.RomesSaver"
            id="org.amanzi.neo.loader.core.newsaver.RomesSaver">
      </newsaver>
      
      <newsaver
            class="org.amanzi.neo.loader.core.newsaver.Nemo1xSaver"
            id="org.amanzi.neo.loader.core.newsaver.Nemo1xSaver">
      </newsaver>
      
      <newsaver
            class="org.amanzi.neo.loader.core.newsaver.Nemo2xSaver"
            id="org.amanzi.neo.loader.core.newsaver.Nemo2xSaver">
      </newsaver>
      
      <newsaver
            class="org.amanzi.neo.loader.core.newsaver.TRXSaver"
            id="org.amanzi.neo.loader.core.newsaver.TRXSaver">
      </newsaver>
      
      <newsaver
            class="org.amanzi.neo.loader.core.newsaver.TrafficSaver"
            id="org.amanzi.neo.loader.core.newsaver.TrafficSaver">
      </newsaver>
      
      <newsaver
            class="org.amanzi.neo.loader.core.newsaver.SeparationCostraintSaver"
            id="org.amanzi.neo.loader.core.newsaver.SeparationCostraintSaver">
      </newsaver>
      
       <newsaver
            class="org.amanzi.neo.loader.core.newsaver.FrequencyConstraintSaver"
            id="org.amanzi.neo.loader.core.newsaver.FrequencyConstraintSaver">
      </newsaver>
      
      <newsaver
            class="org.amanzi.neo.loader.core.newsaver.InterferenceSaver"
            id="org.amanzi.neo.loader.core.newsaver.InterferenceSaver">
      </newsaver>
   </extension>

</plugin>
