<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.amanzi.loader.parsers" name="Extension for new Parsers" schema="schema/org.amanzi.loader.core.parser.exsd"/>
   <extension-point id="org.amanzi.loader.savers" name="Extension for new Saver" schema="schema/org.amanzi.loader.core.saver.exsd"/>
      <!-- new parsers config -->
    <extension
         point="org.amanzi.loader.parsers">
      <parser
            class="org.amanzi.neo.loader.core.parser.CommonCSVParser"
            id="org.amanzi.neo.loader.core.parser.CommonCSVParser">
      </parser>
      <parser
            class="org.amanzi.neo.loader.core.parser.AntennaParser"
            id="org.amanzi.neo.loader.core.parser.AntennaParser">
      </parser>
   </extension>
   <!-- new savers config -->
   <extension
         point="org.amanzi.loader.savers">
      <saver
            class="org.amanzi.neo.loader.core.saver.NetworkSaver"
            id="org.amanzi.neo.loader.core.saver.NetworkSaver">
      </saver>
       
      <saver
            class="org.amanzi.neo.loader.core.saver.NeighboursSaver"
            id="org.amanzi.neo.loader.core.saver.NeighboursSaver">
      </saver>
      
      <saver
            class="org.amanzi.neo.loader.core.saver.InterferenceMatrixSaver"
            id="org.amanzi.neo.loader.core.saver.InterferenceMatrixSaver">
      </saver>
      <saver
            class="org.amanzi.neo.loader.core.saver.AntennaSaver"
            id="org.amanzi.neo.loader.core.saver.AntennaSaver">
      </saver>
      <saver
            class="org.amanzi.neo.loader.core.saver.AntennaOptimizationConstraintsSaver"
            id="org.amanzi.neo.loader.core.saver.AntennaOptimizationConstraintsSaver">
      </saver>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.amanzi.neo.loader.core.preferences.SynonymsInitializer">
      </initializer>
   </extension>

</plugin>
