<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.amanzi.loader.core.newparser" name="Extension for new Parsers" schema="schema/org.amanzi.loader.core.newparser.exsd"/>
   <extension-point id="org.amanzi.loader.core.newsaver" name="Extension for new Saver" schema="schema/org.amanzi.loader.core.newsaver.exsd"/>
   
    <extension
         point="org.amanzi.loader.core.newparser">
      <newparser
            class="org.amanzi.neo.loader.core.newparser.CommonCSVParser"
            id="org.amanzi.neo.loader.core.newparser.CommonCSVParser">
      </newparser>
   </extension>
   <extension
         point="org.amanzi.loader.core.newsaver">
       <newsaver
            class="org.amanzi.neo.loader.core.newsaver.NewNetworkSaver"
            id="org.amanzi.neo.loader.core.newsaver.NewNetworkSaver">
      </newsaver>
       <newsaver
            class="org.amanzi.neo.loader.core.newsaver.NewNeighboursSaver"
            id="org.amanzi.neo.loader.core.newsaver.NewNeighboursSaver">
      </newsaver>
        <newsaver
            class="org.amanzi.neo.loader.core.newsaver.NewTemsSaver"
            id="org.amanzi.neo.loader.core.newsaver.NewTemsSaver">
      </newsaver>
       <newsaver
            class="org.amanzi.neo.loader.core.newsaver.NewRomesSaver"
            id="org.amanzi.neo.loader.core.newsaver.NewRomesSaver">
      </newsaver>
      <newsaver
            class="org.amanzi.neo.loader.core.newsaver.NewNemo1xSaver"
            id="org.amanzi.neo.loader.core.newsaver.NewNemo1xSaver">
      </newsaver>
         <newsaver
            class="org.amanzi.neo.loader.core.newsaver.NewNemo2xSaver"
            id="org.amanzi.neo.loader.core.newsaver.NewNemo2xSaver">
      </newsaver>
   </extension>

</plugin>
