<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.amanzi.awe.ui.listeners" name="AWE Event Listener" schema="schema/org.amanzi.awe.ui.listeners.exsd"/>
   <extension
         point="org.amanzi.awe.ui.listeners">
      <listener
            class="org.amanzi.awe.ui.project.ProjectChangedListener">
         <eventStatus
               status="PROJECT_CHANGED">
         </eventStatus>
      </listener>
      <listener
            class="org.amanzi.awe.ui.application.ApplicationActivityListener">
         <eventStatus
               status="AWE_STOPPED">
         </eventStatus>
      </listener>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.amanzi.awe.ui.preferences.AWEPreferencesPage"
            id="org.amanzi.awe.preferences"
            name="AWE">
      </page>
      <page
            category="org.amanzi.awe.preferences"
            class="org.amanzi.awe.ui.preferences.dateformat.DateFormatPreferencePage"
            id="org.amanzi.neo.loader.ui.preference.dateformat.DateFormatPreferencePage"
            name="Date format definition">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               id="org.amanzi.ui.menu.showIn"
               label="Show in ...">
         </menu>
      </menuContribution>
   </extension>

</plugin>
