<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.refractions.udig.ui.menuBuilders">
      <menuBuilder
            class="org.amanzi.awe.catalog.neo4j.MenuBuilder1"
            id="org.amanzi.awe.catalog.neo4j.menuBuilder1">
      </menuBuilder>
   </extension>
   <extension
         point="net.refractions.udig.project.ui.tool">
      <actionTool
            class="org.amanzi.awe.catalog.neo4j.actions.Neo4jActionTool"
            id="org.amanzi.awe.catalog.neo4j.Neo4jActionTool"
            menuPath="layer/additions"
            name="Neo4j"
            tooltip="Open a Neo4J graph database">
         <enablement></enablement>
      </actionTool>
   </extension>

</plugin>
