<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
       <command
             categoryId="org.amanzi.neo.loader.commands.category"
             id="org.amanzi.awe.afp.loadControlFile"
             name="Load Network Data">
       </command>
   </extension>
    <extension
          point="org.eclipse.ui.handlers">
        <handler
             class="org.amanzi.awe.afp.providers.OpenWizardHandler"
             commandId="org.amanzi.awe.afp.loadControlFile">
       </handler>         
     </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
          <toolbar
                id="org.amanzi.neo.loader.toolbar">
             <command
                   commandId="org.amanzi.awe.afp.loadControlFile"
                   icon="icons/afp.png"
                   mnemonic="AFP Wizard"
                   style="push"
                   tooltip="AFP Wizard">
             </command>
          </toolbar>
       </menuContribution>
    </extension>  
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.amanzi.awe.afp.ActivatorSelectionProperty"/>
   </extension>   
       <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.amanzi.awe.afp.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.amanzi.awe.afp.AfpPreferencePage"
            id="org.amanzi.awe.afp.AfpPreferencePage"
            name="AFP export preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.amanzi.awe.script"
            class="org.amanzi.awe.afp.views.ViolationsReportView"
            icon="icons/afp.png"
            id="org.amanzi.awe.afp.views.ViolationsReportView"
            name="Violations Report">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.amanzi.afp.perspective">
         <view
               id="org.amanzi.awe.afp.views.ViolationsReportView"
               minimized="false"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.amanzi.awe.perspective">
         <view
               id="org.amanzi.awe.afp.views.ViolationsReportView"
               minimized="false"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
