<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.amanzi.awe.views.charts.ChartsView"
            id="org.amanzi.awe.views.ChartsView"
            name="Charts View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <viewShortcut
               id="org.amanzi.awe.views.ChartsView">
         </viewShortcut>
         <view
               id="org.amanzi.awe.views.ChartsView"
               minimized="false"
               relationship="top"
               relative="net.refractions.udig.catalog.ui.CatalogView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.amanzi.awe.ui.listeners">
      <listener
            class="org.amanzi.awe.views.charts.listener.ShowInChartsViewListener">
         <eventStatus
               status="SHOW_IN_VIEW">
         </eventStatus>
      </listener>
   </extension>

</plugin>
