<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.amanzi.tree.factories" name="Tree Wrapper Factory" schema="schema/org.amanzi.tree.factories.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.amanzi.awe.preferences"
            class="org.amanzi.awe.ui.tree.preferences.internal.TreeLabelsPreferencePage"
            id="org.amanzi.trees.labels"
            name="Tree Labels">
      </page>
      <page
            category="org.amanzi.trees.labels"
            class="org.amanzi.awe.ui.tree.preferences.network.NetworkLabelsPreferencePage"
            id="org.amanzi.trees.label.network"
            name="Network Tree Label">
      </page>
      <page
            category="org.amanzi.trees.labels"
            class="org.amanzi.awe.ui.tree.preferences.drive.DriveLabelsPreferencePage"
            id="org.amanzi.trees.label.drive"
            name="Drive Tree Label">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.amanzi.awe.ui.tree.preferences.drive.DriveLabelsInitializer">
      </initializer>
      <initializer
            class="org.amanzi.awe.ui.tree.preferences.network.NetworkLabelsInitializer">
      </initializer>
   </extension>

</plugin>
