<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.amanzi.tree.rootexpanders" name="Expander of Root elements of AWE Trees" schema="schema/org.amanzi.tree.rootexpanders.exsd"/>
   <extension-point id="org.amanzi.tree.childrenexpanders" name="Children Expander for AWE Trees" schema="schema/org.amanzi.tree.childrenexpanders.exsd"/>

</plugin>
