<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.amanzi.providers">
      <provider
            class="org.amanzi.awe.statistics.provider.impl.StatisticsModelProvider"
            id="org.amanzi.providers.StatisticsModelProvider">
         <parameters>
            <nodePropertiesReference
                  refId="org.amanzi.nodeproperties.generalnodeproperties">
            </nodePropertiesReference>
            <nodePropertiesReference
                  refId="org.amanzi.nodeproperties.TimePeriodNodeProperties">
            </nodePropertiesReference>
            <nodePropertiesReference
                  refId="org.amanzi.nodeproperties.StatisticsNodeProperties">
            </nodePropertiesReference>
            <serviceReference
                  refId="org.amanzi.service.NodeService">
            </serviceReference>
            <serviceReference
                  refId="org.amanzi.services.StatisticsService">
            </serviceReference>
            <nodePropertiesReference
                  refId="org.amanzi.nodeproperties.MeasurementNodeProperties">
            </nodePropertiesReference>
         </parameters>
      </provider>
   </extension>
   <extension
         point="org.amanzi.nodeproperties">
      <nodeProperties
            class="org.amanzi.awe.statistics.nodeproperties.impl.StatisticsNodeProperties"
            id="org.amanzi.nodeproperties.StatisticsNodeProperties">
      </nodeProperties>
   </extension>
   <extension
         point="org.amanzi.nodetypes">
      <nodetype
            class="org.amanzi.awe.statistics.model.StatisticsNodeType">
      </nodetype>
   </extension>
   <extension
         point="org.amanzi.services">
      <service
            class="org.amanzi.awe.statistics.service.impl.StatisticsService"
            id="org.amanzi.services.StatisticsService">
         <parameters>
            <serviceReference
                  refId="org.amanzi.service.NodeService">
            </serviceReference>
         </parameters>
      </service>
   </extension>

</plugin>
