<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.amanzi.loader.core.parser">
      <parser
            class="org.amanzi.awe.afp.ericsson.parser.NetworkConfigurationParser"
            id="org.amanzi.awe.afp.ericsson.parser.NetworkConfigurationParser">
      </parser>
   </extension>
   <extension
         point="org.amanzi.loader.core.saver">
      <saver
            class="org.amanzi.awe.afp.ericsson.parser.NetworkConfigurationSaver"
            id="org.amanzi.awe.afp.ericsson.parser.NetworkConfigurationSaver">
      </saver>
   </extension>
   <extension
         point="org.amanzi.neo.loader.ui.loaders">
      <loader
            description="Ericsson Network config loader"
            gui="org.amanzi.awe.afp.ericsson.ui.EricssonNetworkImportWizard"
            parser="org.amanzi.awe.afp.ericsson.parser.NetworkConfigurationParser"
            saver="org.amanzi.awe.afp.ericsson.parser.NetworkConfigurationSaver"
            validator="org.amanzi.awe.afp.ericsson.ui.EricssonValidator">
         <pages
               class="org.amanzi.awe.afp.ericsson.ui.EricssonNetworkGui2">
         </pages>
      </loader>
   </extension>
   <extension
         point="org.amanzi.neo.loader.ui.gui">
      <GUI
            class="org.amanzi.awe.afp.ericsson.ui.EricssonNetworkImportWizard"
            id="org.amanzi.awe.afp.ericsson.ui.EricssonNetworkImportWizard">
      </GUI>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.amanzi.neo.loader.toolbar2">
            <command
                  commandId="org.amanzi.neo.loader.ui.commands.LaunchLoader"
                  icon="icons/logo.gif"
                  id="org.amanzi.neo.loader.ui.commands.LaunchLoader"
                  style="push"
                  tooltip="Load Ericsson Network Data">
               <parameter
                     name="org.amanzi.neo.loader.ui.commands.guiId"
                     value="org.amanzi.awe.afp.ericsson.ui.EricssonNetworkImportWizard">
               </parameter>
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
