<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.amanzi.awe.views"
            class="org.amanzi.awe.distribution.ui.DistributionView"
            icon="icons/distribution.png"
            id="org.amanzi.views.distribution"
            name="Distribution Analyzer View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.amanzi.awe.perspective">
         <view
               id="org.amanzi.views.distribution"
               minimized="false"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView">
         </view>
         <viewShortcut
               id="org.amanzi.views.distribution">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.amanzi.tree.factories">
      <wrapper-factory
            class="org.amanzi.awe.distribution.ui.wrappers.DistributionWrapperFactory">
         <tree_id
               refId="org.amanzi.trees.ProjectExplorer">
         </tree_id>
         <tree_id
               refId="org.amanzi.trees.AnalyzisTree">
         </tree_id>
      </wrapper-factory>
   </extension>

</plugin>
