<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.amanzi.awe.views"
            class="org.amanzi.awe.statistics.ui.view.StatisticsView"
            icon="icons/call_analyser.png"
            id="org.amanzi.awe.statistics.ui.view.StatisticsView"
            name="Statistics View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.amanzi.awe.perspective">
         <view
               id="org.amanzi.awe.statistics.ui.view.StatisticsView"
               minimized="false"
               relationship="stack"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               showTitle="true"
               visible="true">
         </view>
         <viewShortcut
               id="org.amanzi.awe.statistics.ui.view.StatisticsView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
